.my-grants-title.ui-corner-top
  %h3 My Grants
.my-grants-body.ui-corner-bottom
  .grant-project-number.left
    %strong Project #:
  .grant-project-title
    %strong Project Title:
    %ul
      %li.draggable{:'data-type' => 'grant'}
        My random grant
      %li.draggable{:'data-type' => 'grant'}
        Your random grant
      %li.draggable{:'data-type' => 'grant'}
        Our random grant

.my-publications-title.ui-corner-top
  %h3 My Publications
.my-publications-body.ui-corner-bottom
  %strong Title:
  %ul
    %li.draggable{:'data-type' => 'publication'}
      My random publication
    %li.draggable{:'data-type' => 'publication'}
      Your random publication
    %li.draggable{:'data-type' => 'publication'}
      Our random publication
    %li.draggable{:'data-type' => 'publication'}
      Vosotros' random publication