%h3.grey-provider
  %a{:href => '#'}
    .left.project-accordion-title
      Short Title:
      = protocol.short_title
    .clear

.project-information
  .productivity-information-body.droppable
    %ul.grants-list
      %li
        .grant
          Grant:
          .project-id
            646dd5446464
          .project-title
            Drug Abuse Research Training
        .clear
    %ul.publications-list
      %li
        .publication
          Pub:
          .publication-title
            Medicare Reimbursement for Clinical Trial Services
        .clear
