if ($('#protocol-accordion').hasClass('ui-accordion')) {
  $('#protocol-accordion').accordion('destroy');
}
$("#protocol-accordion").html("<%= escape_javascript(render(:partial => 'portal/protocols/protocol_list', :locals => {:protocols => @protocols})) %>");
$('#protocol-accordion').accordion({
  heightStyle: 'content',
  collapsible: true,
  active: false
});

<% @source = [] %>
<% @protocols.each do |protocol| %>
  <% default_label = "#{protocol.type.capitalize}: " + protocol.id.to_s + " - " + protocol.short_title %>
  <% default_desc = "PI(s): #{protocol.principal_investigators.map(&:display_name).join(', ')}" if protocol.principal_investigators %>
  <% @source << {:label => default_label, :desc => default_desc, :id => protocol.id } %>
<% end %>

var protocol_autocomplete_values = <%= @source.to_json.html_safe %>;

$('.search_protocols').autocomplete({
  source: protocol_autocomplete_values,
  select: function(event, ui) {
    window.location = '#blue-provider-' + ui.item.id;
    if (!$(".blue-provider-" + ui.item.id).hasClass('ui-state-active')) {
      $(".blue-provider-" + ui.item.id).click();
    }
  }
})
.data("uiAutocomplete")._renderItem = function(ul, item) {
  return $( "<li>" )
        .data( "ui-autocomplete-item", item )
        .append( "<a>" + item.label + "<br>" + item.desc + "</a>" )
        .appendTo( ul );
};

$('.search_protocols').focus(function() {
  $(this).val('');
});


