- if @service_request.has_per_patient_per_visit_services?
  - @service_request.arms.each do |arm|
    .arm_calendar_container{:'data-arm_id' => arm.id}
      - next if arm.visit_groups.empty?
      = render :partial => 'master_calendar/pppv_calendar', :locals => {:tab => @tab, :arm => arm, :service_request => @service_request}
- if (@sub_service_request.nil? ? @service_request.has_one_time_fee_services? : @sub_service_request.has_one_time_fee_services?) and !@portal
  = render :partial => 'master_calendar/otf_calendar'