-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
= javascript_include_tag 'service_calendar_logic'

#service-calendars{ data: { review: @review.to_s, portal: @portal.to_s, admin: @admin.to_s, merged: @merged.to_s, consolidated: @consolidated.to_s, pages: @pages, protocol_id: @service_request.protocol_id, sub_service_request_id: @sub_service_request.try(:id) }}
  - if @sub_service_request ? @sub_service_request.has_per_patient_per_visit_services? : @service_request.has_per_patient_per_visit_services?
    - @service_request.arms.eager_load(:visit_groups, :protocol).each do |arm|
      - next if arm.visit_groups.empty?
      = render 'service_calendars/master_calendar/pppv/pppv_calendar', tab: @tab, arm: arm, service_request: @service_request, sub_service_request: @sub_service_request, page: @pages[arm.id], pages: @pages, review: @review, portal: @portal, admin: @admin, merged: @merged, consolidated: @consolidated, statuses_hidden: %w(first_draft), scroll_true: @scroll_true, display_all_services: @display_all_services

  - if !@portal && (@sub_service_request ? @sub_service_request.has_one_time_fee_services? : @service_request.has_one_time_fee_services?)
    = render 'service_calendars/master_calendar/otf/otf_calendar', tab: @tab, service_request: @service_request, sub_service_request: @sub_service_request, review: @review, portal: @portal, admin: @admin, merged: @merged, consolidated: @consolidated, statuses_hidden: %w(first_draft), scroll_true: @scroll_true
