= javascript_include_tag 'service_calendar_navigation'

%table.service_calendar
  %thead.ui-widget-header
    %tr.table_header
      %th{:rowspan => 2} Services
      %th{:colspan => 2} Unit Costs
      %th{:rowspan => 2} Qty Type
      %th{:rowspan => 2} # Subjects
      %th &nbsp;
      %th{:colspan => 5} 
        = generate_visit_navigation @service_request, params[:page].to_i
        

      %th &nbsp;
    %tr.table_header
      %th Service Rate
      %th Your Cost
      %th &nbsp;
      = generate_visit_header_row @service_request, params[:page].to_i
      %th Total

  = render :partial => 'calendar_data'

