- if display_freeze_header_button_otf(service_request)
  .btn.btn-xs.btn-primary.freeze-header-button{ class: scroll_true ? "unfreeze" : "freeze", data: { arm_id: "otf-calendar" } }
    .freeze-header{ style: scroll_true ? "display: none" : "", data: { toggle: 'tooltip', placement: 'bottom', delay: '{"show":"500"}' }, title: t(:calendars)[:tooltips][:freeze_header]}
      .top-arrow
        .glyphicon.glyphicon-th.top-icon
      .glyphicon.glyphicon-th.bottom-icon
    .unfreeze-header{ style: scroll_true ? "" : "display: none", data: { toggle: 'tooltip', placement: 'bottom', delay: '{"show":"500"}' }, title: t(:calendars)[:tooltips][:unfreeze_header]}
      .glyphicon.glyphicon-th