.line-items
  - service_request.line_items.each do |line_item|
    .line_item
      %div= line_item.service.abbreviation
      = link_to(image_tag('cancel.png'), 'javascript:void(0);', :class => 'remove-button', :id => "line_item-#{line_item.id}") if line_item.optional?

