.service-view
  %span.title
    %span.name= link_to service.name, 'javascript:void(0);'
    %button.add_service{:id => "service-#{service.id}", :sr_id => "#{service_request.id}"} Add
    .clear
  %span.service-description.description{:style => 'display:none'}= service.description
