%div.signin_dialog.center
  = t :initial_signin_dialog
  %clear
  %br
  %br
  .container_6
    #left_signin_button.proceed_with_shib.ui-button.ui-button-text.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
      = link_to(t(:proceed_to_login_link), "javascript:void(0);")
    %br
    %br
    #right_signin_button.create_new_account.ui-button.ui-button-text.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
      = link_to(t(:create_new_account_link), new_identity_registration_path)