%div.signin_dialog
  You are not currently logged into SPARC. If you are affiliated with an institution and have an institutional login OR have created a SPARC account have currently have a SPARC login and password, please click the button on the left to proceed. If you are not currently affiliated with an institution OR do not have a SPARC login/password, please click the button on the right to proceed with creating a new SPARC account.
  %div#left_signin_button
    %div.new-study.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
      %span.ui-button-text
        = link_to('Click here to proceed with your institutional login', new_service_request_study_path(@service_request))
  %div#right_signin_button
    %div.new-study.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
      %span.ui-button-text
        = link_to('Click here to proceed by creating a new SPARC account', new_service_request_study_path(@service_request))