%div.signin_dialog.center
  You are not currently logged into SPARC. If you are affiliated with an institution and have an institutional login OR have created a SPARC account and have a SPARC login and password, please click the button on the left to proceed. If you are not currently affiliated with an institution OR do not have a SPARC login/password, please click the button on the right to proceed with creating a new account.
  %clear
  %br
  %br
  .container_6
    %span
      #left_signin_button.proceed_with_shib.ui-button.ui-button-text.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
        = link_to('Click here to proceed with your institutional/existing SPARC login', "javascript:void(0);")
    %br
    %br
    %span
      #right_signin_button.create_new_account.ui-button.ui-button-text.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
        = link_to('Click here to proceed by creating a new account', new_identity_registration_path)