%div.acknowledge_approval_status_dialog
  = raw t("devise.registrations.identity.signed_up_but_not_approved") 
  %br
  %br
  %div.acknowledge_approval_status.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
    %span.ui-button-text
      = link_to('Click here to proceed', "javascript:void(0);")
