%div.signin_dialog
  %div#left_signin_button
    %div.new-study.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
      %span.ui-button-text
        = link_to('Click here to proceed with your institutional login', new_service_request_study_path(@service_request))
  %div#right_signin_button
    %div.new-study.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
      %span.ui-button-text
        = link_to('Click here to proceed by creating a new SPARC account', new_service_request_study_path(@service_request))