- uri = URI.parse(tableau_url)

#tableauEmbed.full
  %script{ type: 'text/javascript', src: tableau_url }
  .tableauPlaceholder{ style: 'width: 635px; height: 635px' }
    %object.tableauViz{ width: '635', height: '635', style: 'display:none;' }
      %param{ name: 'host_url', value: uri.scheme + "%3A%2F%2F" + uri.host + "%2F" }
      %param{ name: 'embed_code_version', value: '3' }
      %param{ name: 'site_root', value: '' }
      %param{ name: 'name', value: Setting.get_value('homepage_tableau_dashboard') }
      %param{ name: 'tabs', value: 'no' }
      %param{ name: 'toolbar', value: 'no' }
      %param{ name: 'showAppBanner', value: 'false' }
      %param{ name: 'filter', value:'iframeSizedToWindow=true' }
