-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- status_tab = tab == 'status_changes'
- approval_tab = tab == 'approval_changes'
- subsidy_tab = tab == 'subsidy_changes'
%button.btn.history_button#status_history_button{ class: status_tab ? 'btn-primary' : 'btn-default', disabled: status_tab, data: { table: "status_changes", sub_service_request_id: sub_service_request.id } }
  = t(:dashboard)[:sub_service_requests][:tabs][:history][:status][:header]
- if @sub_service_request.organization.tag_list.include?('ctrc')
  %button.btn.history_button#approval_history_button{ class: approval_tab ? 'btn-primary' : 'btn-default', disabled: approval_tab, data: { table: "approval_changes", sub_service_request_id: sub_service_request.id } }
    = t(:dashboard)[:sub_service_requests][:tabs][:history][:approval][:header]
- if sub_service_request.eligible_for_subsidy?
  %button.btn.history_button#subsidy-history-button{ class: subsidy_tab ? 'btn-primary' : 'btn-default', disabled: subsidy_tab, data: { table: "subsidy_changes", sub_service_request_id: sub_service_request.id } }
    = t(:dashboard)[:sub_service_requests][:tabs][:history][:subsidy][:header]
%span
  = image_tag 'spinner.gif', class: 'hidden', id: 'history-spinner'
