-# Copyright © 2011-2022 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.card.w-100
  .card-header.justify-content-between.bg-primary.text-white{ data: { toggle: 'collapse', target: '#budget-summary' } }
    %h3.mb-0<
      = icon('fas', 'caret-down pr-1 mr-2')
      =t('dashboard.fee_agreement.budget_summary.header')

  .collapse#budget-summary.show
    .card-body
      %table.table
        %tbody
          %tr
            %td=t('dashboard.fee_agreement.budget_summary.total_non_clinical_services_cost')
            %td=number_to_currency(@fee_agreement.non_clinical_service_table.total)
          %tr
            %td=t('dashboard.fee_agreement.budget_summary.total_clinical_services_cost')
            %td=number_to_currency(@fee_agreement.clinical_total)
          %tr.table-secondary.font-weight-bold.total-budget
            %td=t('dashboard.fee_agreement.budget_summary.total_study_budget')
            %td=number_to_currency(@fee_agreement.grand_total)

