language: ruby
cache: bundler
dist: xenial
addons:
  firefox: latest
env:
  - MOZ_HEADLESS=1
services:
  - xvfb
  - mysql

before_install:
  - "export TZ=America/New_York"
  - nvm install node 14.19.2
before_script:
  - "export DISPLAY=:99.0"
  - cp config/database.yml.example config/database.yml
  - cp config/fulfillment_db.yml.example config/fulfillment_db.yml
  - cp dotenv.example .env
  - mysql -e 'create database test_sparc_request;'
  - mysql -e 'create database cwf_test;'
  - RAILS_ENV=test bundle exec rake db:migrate
  - bundle exec rake db:test:prepare
  - cd ..
  - git clone https://github.com/sparc-request/sparc-fulfillment.git
  - cd sparc-fulfillment
  - git checkout v3.4.0
  - rvm use $(< .ruby-version) --install --binary --fuzzy
  - export BUNDLE_GEMFILE=$PWD/Gemfile
  - mkdir -p tmp
  - bundle install --jobs=3 --retry=3 --deployment --path=${BUNDLE_PATH:-vendor/bundle}
  - cp config/database.yml.example config/database.yml
  - cp config/sparc_db.yml.example config/sparc_db.yml
  - cp config/klok_db.yml.example config/klok_db.yml
  - cp dotenv.example .env
  - RAILS_ENV=test bundle exec rake db:migrate
  - cd ../sparc-request
  - rvm use $(< .ruby-version) --install --binary --fuzzy
  - export BUNDLE_GEMFILE=$PWD/Gemfile
  - nvm ls
  - npm install -g yarn
  - yarn install
  - RAILS_ENV=test bundle exec rake assets:precompile
jobs:
  include:
    - script:
      - bundle exec rspec spec/api
      - bundle exec rspec spec/extensions
      - bundle exec rspec spec/jobs
      - bundle exec rspec spec/helpers
      - bundle exec rspec spec/mailers
      - bundle exec rspec spec/lib
      - bundle exec rspec spec/models
      - bundle exec rspec spec/views
      - bundle exec rspec spec/controllers
    - script:
      - bundle exec rspec spec/features/dashboard spec/features/surveyor
    - script:
      - bundle exec rspec spec/features/proper spec/features/catalog_manager
