version: '3.8'

services:
  db:
    image: mysql:8.3
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: <choose_root_password>
      MYSQL_DATABASE: sparc-docker_development
      MYSQL_USER: <choose_username>
      MYSQL_PASSWORD: <choose_password>

  web:
    build: .
    command: bundle exec rails s -b '0.0.0.0' -p 3000
    volumes:
      - .:/app
      - /app/node_modules # This ensures node_modules is not overwritten
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_USERNAME: <mysql_user_from_above>
      DATABASE_PASSWORD: <mysql_password_from_above>
      DATABASE_NAME: sparc-docker_development
      RAILS_ENV: development
    env_file:
      - .env

volumes:
  db_data:
