sparc_version=v3.6.0
root_url=https://sparc.musc.edu
api_version=v1
api_username=''
api_password=''
time_zone=Eastern Time (US & Canada)
sender_address=no-reply@sample.org

# Content Security
content_security_report_only=true
script_src_domain=*.musc.edu

# Secrets
LOCKBOX_MASTER_KEY=0000000000000000000000000000000000000000000000000000000000000000
