%div{"ng-controller" => "AdminUserSearchController"}
  .modal.fade{:id=>"identityModal", :role=>"dialog", :tabindex=>"-1", "aria-labelledby"=>"myModalLabel"}
    .modal-dialog.modal-sm{:role=>"document"}
      .modal-content
        .modal-header
          %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
            %span{"aria-hidden"=>"true"} &times;
          %h4.modal-title Update {{currentIdentity.ldap_uid}}
        .modal-body
          %form{"name"=>"identityForm"}
            .form-group{"ng-class"=> "{'has-error': identityForm.email.$invalid}"}
              %label{"for"=>"email"} Email address
              %input.form-control{"name"=>"email","type"=>"email", "id"=>"email", "required"=>"required", "ng-model" => "currentIdentity.email"}
              %span.help-block{"ng-show"=>"identityForm.email.$invalid"} Valid Email Required
            .form-group{"ng-class"=> "{'has-error': identityForm.firstName.$invalid}"}
              %label{"for"=>"firstName"} First Name
              %input.form-control{"name"=>"firstName","type"=>"text", "id"=>"firstName", "required"=>"required", "ng-model" => "currentIdentity.first_name"}
              %span.help-block{"ng-show"=>"identityForm.firstName.$invalid"} Required
            .form-group{"ng-class"=> "{'has-error': identityForm.lastName.$invalid}"}
              %label{"for"=>"lastName"} Last Name
              %input.form-control{"name"=>"lastName","type"=>"text", "id"=>"lastName", "required"=>"required", "ng-model" => "currentIdentity.last_name"}
              %span.help-block{"ng-show"=>"identityForm.lastName.$invalid"} Required            
        .modal-footer
          %a.btn.btn-default{"data-dismiss"=>"modal"} Cancel
          %button.btn.btn-success{"data-dismiss"=>"modal", "ng-click"=> "updateUser()", "ng-disabled"=>"!identityForm.$valid"} Update User
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %label{:for=>"search_term"} Advanced User Search
    .panel-body
      .alert{"ng-show"=>"alertMessageUpdate", "ng-class"=>"{ 'alert-success' : resourceSuccessful, 'alert-danger' : !resourceSuccessful }", :role=>"alert"} {{alertMessageUpdate}}
      .alert{"ng-show"=>"alertMessage", "ng-class"=>"{ 'alert-success' : resourceSuccessful, 'alert-danger' : !resourceSuccessful }", :role=>"alert"} {{alertMessage}}
      .row
        .col-sm-6
          %form{"ng-submit"=>"search()"}
            .form-group
              %input.form-control{:id=>"search_term",:type=>"text", :placeholder=>"Find users by first name, last name, email, or user id", "ng-model"=>"search_term"}
              %span.help-block Filter the results by searching within the column headers in the grid below. Edit User buttons are displayed for people already in I-CART and only usable by I-CART administrators.
        .col-sm-4
          %button.btn.btn-primary{"ng-click"=>"search()", "ng-disabled"=>"search_in_progress"} Search
      .row
        .col-md-12
          %div{"ng-show"=>"gridModel.data.length > 0", "ui-grid"=>"gridModel", "ui-grid-edit"=>"true", "ui-grid-auto-resize"=>"true", "ui-grid-selection"=>"true", "external-scopes"=>"$scope",:style=>"height: 450px;"}
    .panel-footer * Close this window or tab when you're done adding new users to I-CART.   