// TODO: this file is deprecated and should be deleted

.admin#users
  %table
    %thead
      %tr
        %th{:colspan => 5} User Information
        %th.actions{:colspan => 2} Actions
      %tr
        %th.name Name
        %th.role Role
        %th.email Email Address
        %th.phone Phone Number
        %th.proxy_right Proxy Rights
        %th.edit Edit
        %th.delete Delete
    %tbody
      - @protocol.users.each do |user|
        = render :partial => "portal/associated_users/associated_user", :locals => {:user => user, :protocol => @protocol}
    %tfoot
      %tr
        %td{:colspan => 7}
      %tr
        %td{:colspan => 5}
        %td.new-button{:colspan => 2}
          .associated-user-button.ui-corner-all{:'data-protocol_id' => @protocol.id, :'data-permission' => "true"}
            Add a new Associated User

.add-associated-user-dialog
.edit-associated-user-dialog

:javascript
  $(document).ready( function() { Sparc.associated_users.ready(); });
