#sctr_logo
  %a{:href => 'http://sctr.musc.edu'}
    = image_tag 'portal/logos/sctr_logo.png', :alt => 'SCTR Logo'
#sctr_header_title
  %a{:href => 'http://sctr.musc.edu'}
    SOUTH CAROLINA CLINICAL AND
    %br
    TRANSLATIONAL RESEARCH INSTITUTE
#musc_logo
  %a{:target => '_blank', :href => 'http://www.musc.edu'}
    = image_tag 'portal/logos/musc_logo.png', :alt => 'MUSC Logo'
