// Copyright © 2011 MUSC Foundation for Research Development
// All rights reserved.

// Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

// 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

// 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
// disclaimer in the documentation and/or other materials provided with the distribution.

// 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
// derived from this software without specific prior written permission.

// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
// BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
// SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
// TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

// Place all the styles related to the portal/epic_queues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.epic-queue-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-family: arial;
  margin:10px 0pt 15px;
  text-align: left;

  tr {
    height: 40px;
  }
  tr.even {
    background-color: #90B9CD !important;
    color: white;
  }
  tr.odd {
    background-color: white;
  }
  th {
    border-right: 1px solid white;
    padding: 4px 8px;
  }
  td {
    border-right: 1px solid black;
    padding: 4px 8px;
  }
  td.last, th.last {
    border-right: none;
  }
  td.eq-protocol, th.eq-protocol {
    width: 40%;
  }
  td.eq-protocol-PIs, th.eq-protocol-PIs {
    width: 25%;
  }
  td.eq-date, th.eq-date {
    width: 20%;
  }
  td.eq-status, th.eq-status {
    width: 10%;
  }
  td.eq-delete, th.eq-delete {
    width: 5%;
  }
  ul.eq-protocol-PIs-list {
    list-style-type: none;
  }
}

a.delete-eq {
  width: 34px;
  height: 34px;
  background: url(/assets/dashboard/delete_red.png) no-repeat;
  display: block;
}