@media print {
  .home_link {
    display: none;
  }

  div {
    display: block;
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }

  #welcome_msg {
    display: none;
  }

  .project_information, .user_information, .uploads_information {
    margin-right: auto;
  }

  .ui-button, .jump_to_visit {
    display: none;
  }

  td, th {
    display: table-cell;
    vertical-align: inherit;
  }

  #institution_logo {
    display: none;
  }

  .header_logo_2 {
    display: none;
  }

  #org_logo {
    display: none;
  }

  .blue_header {
    background: #0775B0;
    color: #fff;
  }

  th {
    font-weight: bold;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .service_request_information {
    table {
      border-spacing: 0;
      width: 100%;
    }

    table tr {
      border-spacing: 0;
      width: 100%;
    }
    table tr td {
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }

    .percent_30 {
      width: 30%;
    }

    th {
      text-align: left;
    }

    td {
      padding: 5px;
    }
  }

  .service_calendar {
    thead tr th {
      border: 1px solid #ccc;
    }
  }

  .no-border-right {
    border-right: none !important;
  }
}