// Copyright © 2011-2016 MUSC Foundation for Research Development~
// All rights reserved.~

// Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

// 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

// 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
// disclaimer in the documentation and/or other materials provided with the distribution.~

// 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
// derived from this software without specific prior written permission.~

// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
// BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
// SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
// TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

@media print {
  .home_link {
    display: none;
  }

  div {
    display: block;
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }

  #welcome_msg {
    display: none;
  }

  .project_information, .user_information, .uploads_information {
    margin-right: auto;
  }

  .ui-button, .jump_to_visit {
    display: none;
  }

  td, th {
    display: table-cell;
    vertical-align: inherit;
  }

  #institution_logo {
    display: none;
  }

  .header_logo_2 {
    display: none;
  }

  #org_logo {
    display: none;
  }

  .blue_header {
    background: #0775B0;
    color: #fff;
  }

  th {
    font-weight: bold;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .service_request_information {
    table {
      border-spacing: 0;
      width: 100%;
    }

    table tr {
      border-spacing: 0;
      width: 100%;
    }
    table tr td {
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }

    .percent_30 {
      width: 30%;
    }

    th {
      text-align: left;
    }

    td {
      padding: 5px;
    }
  }

  .service_calendar {
    thead tr th {
      border: 1px solid #ccc;
    }
  }

  .no-border-right {
    border-right: none !important;
  }
}