// Copyright © 2011-2016 MUSC Foundation for Research Development
// All rights reserved.

// Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

// 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

// 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
// disclaimer in the documentation and/or other materials provided with the distribution.

// 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
// derived from this software without specific prior written permission.

// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
// BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
// SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
// TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.protocol-sort {
  float: right;
  padding: 0 5px;
  span {
    clear: left;
    float: left;
    cursor: pointer;
  }
  .sort-active {
    color: #337ab7;
  }
}

.protocols_index_row{
    .id,.title,.pis{
        cursor: pointer;
    }
}

.do-not-display {
  display: none;
}

/* Primary PI Typeahead Begin */
.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  cursor: pointer;
}
/* Primary PI Typeahead End */

/* New/Edit Protocol Form Begin */
#funding-status   .col-lg-10,
.pending_funding  .col-lg-10,
#federal-non-phs  .col-lg-10,
.approval_pending .col-lg-10 {
  padding-top: 11px;
}

.investigational_products  .col-lg-10,
.oral_health_cobre         .col-lg-10 {
  padding-top: 6px;
}

#project-roles .form-group .col-lg-10 label {
  margin-top: 8px;
}

.nct-number {
  .col-lg-10 {
    padding-top: 10px;
  }
}

textarea {
  resize: vertical;
}

/* New/Edit Protocol Form End */

/* Show Protocol Begin */
.view-protocol-details-modal {
  width: 50% !important;
}

.export-consolidated-request {
  display: inline-block;
}

.service-requests-table {
  tr {
    td:nth-child(4) {
      .new-notification {
        width: 100% !important;
      }
    }

    td:nth-child(5) {
      text-align: center !important;
    }

    .view-service-request, .edit-service-request {
        margin: 5px 5px 5px 0px;
    }
  }
}

/* Show Protocol End*/

.drop-underneath {
  margin-top: 20px;
}

.filter-identifier {
  margin-left: 10px;
}
