- if display_scrollable_pppv(tab, portal, arm, service_request, sub_service_request, merged, statuses_hidden)
  .btn.btn-xs.btn-success.scrollable-button.freeze{ data: { arm_id: arm.id, toggle: 'tooltip', placement: 'bottom', delay: '{"show":"500"}' }, title: t(:calendars)[:tooltips][:freeze_header]}
    .freeze-header-button
      .top-arrow
        .glyphicon.glyphicon-menu-down
      .pull-right
        .glyphicon.glyphicon-menu-down
    .unfreeze-header-button{style: "display: none"}
      .top-arrow
        .glyphicon.glyphicon-menu-up
      .pull-right
        .glyphicon.glyphicon-menu-up