-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.toggle-services-btn-group.btn-group.custom-pull-right{"data-toggle" => "buttons", style: portal ? cookies['admin-ss-tab'] == 'calendar_tab' ? "display: inline-block;" : "display: none;" : "display: none;"}
  = link_to t(:calendars)[:show_chosen_services], '#consolidated-request-calendar', id: 'chosen-services', data: { url: merged_calendar_service_calendars_path(srid: srid, sub_service_request_id: sub_service_request_id, tab: tab, review: review, portal: portal) }, class: display_all_services ? "btn btn-custom-green services-toggle" : "btn btn-success services-toggle active"

  = link_to t(:calendars)[:show_all_services], '#consolidated-request-calendar', id: 'all-services', data: { url: merged_calendar_service_calendars_path(srid: srid, sub_service_request_id: sub_service_request_id, tab: tab, review: review, portal: portal) }, class: display_all_services ? "btn btn-success services-toggle active" : "btn btn-custom-green services-toggle"