-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- url_data = { sub_service_request_id: sub_service_request.try(:id), srid: service_request.try(:id), pages: pages.to_s, arm_id: arm.id, tab: tab, portal: portal.to_s, admin: admin.to_s, review: review.to_s, merged: merged.to_s, consolidated: consolidated.to_s, statuses_hidden: statuses_hidden, format: :js }

- if consolidated
  - path_method = method(:view_full_calendar_service_calendars_path)
- elsif merged
  - path_method = method(:merged_calendar_service_calendars_path)
- else
  - path_method = method(:table_service_calendars_path)

.col-xs-2
  .page-change-arrow.btn.btn-info.glyphicon.glyphicon-arrow-left{ title: t(:calendars)[:pppv][:header_fields][:page_select][:previous], type: 'button', disabled: page == 1 ? true : nil, role: 'button', aria: { label: t(:calendars)[:pppv][:header_fields][:page_select][:previous] }, data: { toggle: 'tooltip', animation: 'false', url: path_method.call(url_data.merge(page: page - 1)) } }

.col-xs-8
  = Dashboard::ServiceCalendars.build_visits_select(arm, page, path_method.call(url_data))

.col-xs-2
  .page-change-arrow.btn.btn-info.glyphicon.glyphicon-arrow-right{ title: t(:calendars)[:pppv][:header_fields][:page_select][:next], type: 'button', disabled: ((page + 1) * 5) - 4 > arm.visit_count ? true : nil, role: 'button', aria: { label: t(:calendars)[:pppv][:header_fields][:page_select][:previous] }, data: { toggle: 'tooltip', animation: 'false', url: path_method.call(url_data.merge(page: page + 1)) } }
