%table.table{cellpadding: 3}
  %thead
    %tr.skinny-black-border.left
      %th.skinny-black-border= t(:notifier)[:service]
      %th.skinny-black-border= t(:notifier)[:action]

  %tbody
    - @audit_report[:line_items].each do |last_change|
      - service = Service.find(last_change.audited_changes["service_id"])
      %tr.skinny-black-border
        %td.skinny-black-border= service.name
        %td.skinny-black-border.center= AUDIT_ACTIONS[last_change.action]
%br
%br
