%table{:style => 'border: 1px solid black; border-collapse: collapse; width: 100%;', :cellpadding => 3}
  %tbody
    %tr{:style => 'border: 1px solid black;'}
      %td{:style => 'border: 1px solid black; font-weight: bold;'}= t(:notifier)[:all_on_request]
%br
%br
