!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en" }

  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title Request for new SPARC account status change 

  %body
    - if @approved
      Your request for a new SPARC account has been approved.  You may proceed with your service request using your newly created
      username and password.
    - else
      Your request for a new SPARC account has NOT been approved.  
    %br
    %br
    = t(:issue_contact)
