-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%input.increase_decrease_rates{:type => 'button', :value => t(:organization_form)[:change_rates]}
  
.increase_decrease_dialog
  %div
    %label{:for => "percent_of_change"}= t("cm_shared.labels.percent_of_change")
    %div
      %input.percent_of_change.change_rate{:type => 'text', :class => 'percent_of_change'}
      %span %
      %p= t("cm_shared.labels.negative_to_change")
  %div
    %label{:for => "pricing_display_date"}= t("cm_shared.labels.display_date")
    %input#pricing_display_date.change_rate.datepicker{:type => 'text', :class => 'change_rate_display_date', :display => 'display_date', :past_date => (can_edit_historical_data ? 'true' : 'false')}
  %div{:style => 'margin-top:5px;'}
    %label{:for => "pricing_effective_date"}= t("cm_shared.labels.effective_date")
    %input#pricing_effective_date.change_rate.datepicker{:type => 'text', :class => 'change_rate_effective_date', :display => 'effective_date', :past_date => (can_edit_historical_data ? 'true' : 'false')}
  %input.entity_id{:type => 'hidden', :value => entity.id}
  
:javascript
  $(document).ready(function() {
    if($('.increase_decrease_dialog').length > 1 ){ $('.change_rate').datepicker('destroy'); $('.increase_decrease_dialog:first').dialog().dialog('destroy').remove(); }
    $('.increase_decrease_dialog').dialog({
      autoOpen: false, 
      title: "Increase/Decrease Rates",
      width: 410,
      closeText: "",
      modal: true,
      open: function() {
        var datepicker_images = $(this).find($('.ui-datepicker-trigger'))

        if($('.increase_decrease_dialog').length > 1 ){ $('.change_rate').datepicker('destroy').remove(); $('.increase_decrease_dialog:first').dialog('destroy').remove(); }        
      },
      buttons: [
          {
            text: "Cancel",
            click: function() { $(this).dialog("close"); }
          },          
          {
            text: "Submit",
            click: function() { 
              percent_of_change = $(this).find('.percent_of_change').val()
              effective_date = $(this).find('.change_rate_effective_date').val()
              display_date = $(this).find('.change_rate_display_date').val()
              entity_id = $(this).children('.entity_id').val()
              Sparc.catalog.submitRateChanges(entity_id, percent_of_change, effective_date, display_date)
              $(this).dialog('close');
            }
          }
      ]      
    })
    //Sparc.config.ready()
  })  