.rls
  - if entity.related_services
    %table
      %thead
        %tr
          %th Service
          %th Required
          %th Delete
      %tbody
        - entity.service_relations.each do |service_relation|
          - service = service_relation.related_service
          %tr
            %td= service.display_service_name
            %td= check_box_tag service_relation.id, !service_relation.optional, service_relation.optional == false, :class => 'optional'
            %td= image_tag 'cancel.png', :"data-service_relation_id" => service_relation.id, :class => 'rs_delete'

  = text_field_tag 'new_rs', 'New Related Service'
