- unless @entity.errors.messages.empty?
  - @entity_errors = @entity.errors.to_json
  :plain
    $('#flash').hide();
    $('#flash').html("There were errors saving #{escape_javascript(@entity.name)}.");
    Sparc.catalog.handle_ajax_errors("#{escape_javascript(@entity_errors)}", "#{@entity.type}")

- else
  :plain
    Sparc.catalog.clear_error_fields()
    $('#flash').hide();
    $('#flash').html("#{escape_javascript(@entity.name)} saved successfully");

:plain
  $('#flash').slideDown();
  $('#flash').delay(3000);
  $('#flash').slideUp();
  $('.spinner').hide();
  setInterval(function(){$('.save_button').removeAttr('disabled');},1000);


