.grid_12
  .blue-provider
    .nav-backward
      .return-to-previous= link_to image_tag('GoBack.png'), '#'
    .exit= link_to image_tag('SaveExit.png'), '#'
    .nav-forward
      .save-and-continue= link_to image_tag('SaveContinue.png'), '#'