- if session[:errors]
  .grid_12
    #errorExplanation
      %h2
        = pluralize(session[:errors][0].count, "error")
        prohibited this service request from being saved:
      %ul
        - session[:errors][0].messages.each do |key, msgs|
          - msgs.each do |msg|
            %li= msg
  - session.delete(:errors)

