- if session[:errors]
  .grid_12
    #errorExplanation
      %h2
        - if @epic_errors
          The services below were not sent to Epic:
        - else
          = pluralize(session[:errors].count, "error")
          prohibited this service request from being saved:
      %ul
        - session[:errors].each do |key, msgs|
          - msgs.each do |msg|
            %li= msg
  - session.delete(:errors)

