.grid_12
  %div{:class => @css_class}
    .nav-backward
      .return-to-previous= navigation_link image_tag('GoBack.png') + t(:bottom_navigation)[:go_back], @back
    .exit= navigation_link t(:bottom_navigation)[:save_and_exit], 'save_and_exit'
    .nav-forward
      .save-and-continue
        = navigation_link t(:bottom_navigation)[:save_and_continue], @forward
        = navigation_link image_tag('SaveContinue.png'), @forward
