Select a Research Project:
= collection_select :service_request, :protocol_id, projects, :id, :short_title, {:prompt => 'Select a Project'}, :disabled => 'disabled'
%button.edit-project Edit Project
%br
%br
%span -- OR --
%br
%br
