Select a Research Project:
= collection_select :service_request, :protocol_id, projects, :id, :short_title, {:include_blank => 'Select a Project'}, :class => 'edit_project_id'
%button.edit-project Edit Project
%br
%br
%span -- OR --
%br
%br
