.ask-a-question-button= t(:right_navigation)[:ask_a_question]
= link_to t(:right_navigation)[:dashboard], USER_PORTAL_LINK, :class => "dashboard-button"
.faq-button= t(:right_navigation)[:faq]
.feedback-button= t(:right_navigation)[:feedback]
