.grid_12
  = image_tag '/assets/steps.png', :id => 'steps_banner', :usemap => '#steps_banner'
  %map{:id => "_steps_banner", :name => 'steps_banner'}
    %area{:shape => "poly", :coords => "1,14,166,13,166,4,217,48,169,94,167,86,2,86,", :href => "javascript:void(0);", :location => 'protocol', :class => 'navigation_link'}
    %area{:shape => "poly", :coords => "183,14,358,15,358,6,408,47,361,93,356,86,180,85,222,49,", :href => "javascript:void(0);", :location => 'service_details', :class => 'navigation_link'}
    %area{:shape => "poly", :coords => "377,15,537,15,540,5,591,48,538,96,539,87,374,85,411,49,", :href => "javascript:void(0);"}
    %area{:shape => "poly", :coords => "559,14,728,15,728,6,779,47,729,95,728,86,556,87,594,50,", :href => "javascript:void(0);"}
    %area{:shape => "poly", :coords => "747,15,904,16,904,5,957,48,907,96,904,83,743,87,782,49,", :href => "javascript:void(0);"}
  %h3.step-header.ui-corner-all{:class => @css_class}= @step_text
  %br
