.inline
  Select a Research Study:
  = collection_select :service_request, :protocol_id, studies, :id, :short_title, {:include_blank => 'Select a Study'}, :class => 'edit_study_id'
  %button.edit-study Edit Study
- if @sub_service_request.nil?
  %br
  %span -- OR --
  %br
  %br
