Select a Research Study:
= collection_select :service_request, :protocol_id, studies, :id, :short_title, :include_blank => 'Select a Study'
%button.edit-study Edit Study
%br
%br
%span -- OR --
%br
%br
