.inline
  = t("study_assignment.select_protocol")
  = collection_select :service_request, :protocol_id, studies, :id, :display_protocol_id_and_title, {:include_blank => t("study_assignment.select_study")}, :class => 'edit_study_id'
  .edit-study.blue-button= t("study_assignment.edit_study")
- if @sub_service_request.nil?
  %br
  %span= t("study_assignment.or")
  %br
  %br
