#approval_statement
  - if @previously_approved
    = @approval.identity.display_name
    = t(:service_requests)[:approve_changes][:text1]
  - else
    = t(:service_requests)[:approve_changes][:text2]
