= javascript_include_tag 'review'
= render :partial => 'steps'
.root-view
Please review the following information to ensure the accuracy of your request. If you need to make changes, click on theSteps above or click "Go Back" at the bottom of the page. After you have reviewed your request, click "Submit my Service Request."Alternatively, you may save your request as a draft for future submission.
Please note: Draft requests are not reviewed by stafffor approval.