- if @rsp == true
  :plain
    display_text = $('.new_excluded_funding_source option:selected').html();
    $('ul.excluded_funding_sources').append("<li>" + display_text + "<span class='ui-icon ui-icon-close remove_funding_source' funding_source_id='#{@funding_source.id}'></span></li>")
- else
  :plain
    failed_source = $('.new_excluded_funding_source option:selected').html();
    $().toastmessage('showErrorToast', "You are already excluding the " + failed_source + " funding source.");
