// Copyright © 2011-2016 MUSC Foundation for Research Development
// All rights reserved.

// Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

// 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

// 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
// disclaimer in the documentation and/or other materials provided with the distribution.

// 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
// derived from this software without specific prior written permission.

// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
// BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
// SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
// TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #1c94c4;

.catalog_manager_welcome {
  padding-right: 10px;
  a {
    color: #000 !important;
    background: none !important;
  }
  a:not(.viewable_node) {
    color: #000 !important;
  }
}

body {
  background: #fff;
  margin: 0;
}

a { 
  background: url("ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #F6F6F6;
  border: none !important;
  font-weight: bold;
}

a:not(.viewable_node) {
  color: #0078AE !important;
}

a.add_new_excluded_funding_source {
  color: #000000 !important;
  font-weight: normal !important;
}

.ui-icon-document, .ui-icon-folder-open, .ui-icon-folder-collapsed {background-image: url(ui-icons_ef8c08_256x240.png) !important; }

#search_box {
  background: $background;
  padding: 22px 0;

  span.search {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    margin: 12px 16px 0;
    display: block;
    float: left;
  }

  #search {
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    opacity: 1 !important;
    padding: 9px 7px 10px;
    width: 296px;
  }

  .ui-button {
    border-radius: 4px;
    opacity: 1 !important;
    padding: 6px 25px 9px;
  }

  .pricing_setup_error {
    border: 2px solid red;
    float: right;
    background: #fff;
    padding: 0px 10px;
    margin-right: 10px;
    display: none;
  }
}

#show_all_services a.btn.unavailable_button {
  margin-left: 45px;
  text-decoration: none;
  border-width: 1px !important;
  border-style: solid !important;
  margin-bottom: 10px;
}

#catalog {
  width: 531px;
  min-height: 300px;
}

#no_results {
  border: 2px solid #FF0000;
  margin: 30px 5px;
  padding: 0 15px;
  width: 531px;
  display: none;
}

#catalog, #details {
  padding-left: 20px;
  background: #fff;
  border: none !important;
  float: left;

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: #fff !important;
    margin-top: 5px !important;
  }
}

#catalog a.institution {
  color: #0078AE !important;
}
#catalog a.provider {
  color: #339933 !important;
}
#catalog a.program {
  color: #ff9933 !important;
}
#catalog a.core {
  color: #003366 !important;
}

.ui-autocomplete-loading { background: white url('ui-anim_basic_16x16.gif') right center no-repeat; }

//Not sure where this ui-dialog css came from or why it is here, there were no dialogs in the application prior 
//to just having to add jquery dialog code to create the first one. -- RDN
/*.ui-dialog {
  font-size: 12px !important;
  width: 80% !important;
}

.ui-dialog-titlebar-close {
  float: right !important;
}

.ui-dialog-titlebar, .ui-dialog-content {
  padding: 5px !important;
}

.ui-dialog-buttonset {
  text-align: right !important;
  margin: 5px !important;

  .ui-button {
    padding: 5px !important;
    margin-left: 3px !important;
  }
}
*/
#details {
  min-height: 300px;
  margin-left: 20px;
  border-left: 2px dotted $background !important;
}

fieldset.parent,
fieldset.actions {
  background: whitesmoke;
  padding: 15px;
  width: 748px;
  cursor: pointer;
}
fieldset fieldset {
  background-color: white;
  display: none;
}
fieldset fieldset fieldset {
  display: block;
}

fieldset fieldset,
div fieldset.actions {
  cursor: auto;
}

fieldset.sibling_fieldset {
  margin: 15px 0;
  padding: 15px;
}
fieldset.single_fieldset {
  margin-top:15px;
  padding: 15px;
}

.secondary_header {
  color: #339933;
  margin-bottom:10px;
  border-bottom: 1px solid;
}

.pricing_setup_form,
.pricing_map_form {
  background: none !important;
}

div#details div.pricing_setup_accordion a,
div#details div.pricing_map_accordion a {
  padding-left: 30px;
}

div#details div.pricing_setup_accordion h3.ui-state-default,
div#details div.pricing_setup_accordion h3.ui-state-hover,
div#details div.pricing_map_accordion h3.ui-state-default,
div#details div.pricing_map_accordion h3.ui-state-hover {
  border: 1px solid #0078AE !important;
  background: none !important;
}

div#details div.pricing_setup_accordion a,
div#details div.pricing_map_accordion a {
  background: none !important;
}

div#details div.pricing_setup_accordion div.pricing_setup_form,
div#details div.pricing_map_accordion div.pricing_map_form {
  border: 1px solid #0078AE !important;
}

fieldset > .legend {
  color: #FF9933;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 4px;
}

fieldset.actions .legend {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.org_tree {
  width: 770px;
  font-weight: bold;
  margin-bottom: 3px;
  padding-left: 3px;
}

#entity_description, #rates {
  padding-bottom: 20px;

  table {
    th, legend {
      text-align: right;
      width: 250px;
      color: #1C94C4;
    }

    legend {
      font-weight: bold;
    }

    td {
      padding-left: 10px;

      input, select, textarea {
        width: 400px;
        padding: 1px !important;
      }
      input[type="checkbox"] {
        margin-left: 0px;
        width: 20px !important;
      }
      input[type="radio"] {
        margin-left: 0px;
        width: 20px !important;
      }
      
      .linked_quantity_total {
        width: 75px;
      }

    }
  }
}

.pricing_setup_form, .pricing_map_form {
  fieldset {
    margin-bottom: 10px;
  }
  tr{
    font-size: 14px;
  }
  th{
    width: 200px !important;
  }
  td{
    padding-left: 7px !important;
  }

}

.entity_visibility {
  font-style: italic;
}

.jstree-search {
  font-style: italic !important;
  border: 1px solid #fed22f !important;
  background: #ffe45c url(ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x !important;
  color: #363636 !important;
}

.jstree-rename-input {
  height: 25px !important;
  font-size: 16px !important;
  line-height: 25px !important;
  width: 400px !important;
}

#flash {
  position: absolute;
  width: 100%;
  min-height: 52px;
  margin-left: -10px;
  padding: 30px 4px 0;
  text-align: center;
  font-size: 19px;
  z-index: 5000;
}

/* ie7 fix, http://www.swhistlesoft.com/blog/2011/07/11/1333-disappearing-jstree-when-using-themeroller */
.ui-icon {
  text-indent: 0px !important;
}

.su_delete, .se_delete, .sp_delete, .rs_delete, .cp_delete { cursor: pointer; }

#rate_info {
  table > thead > tr > th {
    color: #FF6F60;
    text-decoration: underline;
  }
  table {
    tr {
      td {
        text-align: right;
      }
      th:nth-child(2) {
        padding-left: 10px;
        text-align: left;
      }
    }
  }
}

input#new_cp {
  width: 703px !important;
}

.sus, .sps, .ses, .cms, .cps {
  // border-color: #f0f0f0 #000 #000 #f0f0f0;
  // border-style: inset;
  // border-width: 1px;
  width: 710px;

  input#new_sp, input#new_se, input#new_su, input#new_cm, input#new_cp {
    width: 703px !important;
    margin: 5px;
  }

  input.primary_contact {
    width: auto !important;
  }

  .entry {
    display: block;
    width: 375px;
    margin: 3px auto;
    padding: 2px 5px;
    border: 1px dotted #000;

    img {
      vertical-align: middle;
      float: right;
    }
  }
  table {
    font-size: 14px;
    width: 735px;
    tr {
      border: 1px dotted #000;
      padding: 2px 5px;
    }
    th {
      width: auto !important;
      text-align: left !important;
      float: none !important;
    }
    .check {
      text-align: center !important;
    }
  }
}

.rls {
  border-color: #f0f0f0 #000 #000 #f0f0f0;
  border-style: inset;
  border-width: 1px;
  width: 720px;
  

  input#new_rs {
    width: 703px !important;
    margin: 5px;
  }

  input.optional {
    width: auto !important;
  }

  .entry {
    display: block;
    width: 575px;
    margin: 3px auto;
    padding: 2px 5px;
    border: 1px dotted #000;

    img {
      vertical-align: middle;
      float: right;
    }
  }

  table {
    font-size: 14px;
    width: 675px;
    tr {
      border: 1px dotted #000;
      padding: 2px 5px;
    }
    th {
      width: auto !important;
      text-align: left !important;
      float: none !important;
    }
  }
}

.associated_surveys_table {
  width: 100%;
  font-size: 14px;
}

.associated_surveys_table thead tr th {
  text-align: left !important;
}

.associated_surveys_table thead tr th.delete_button {
  width: 50px !important;
}

.associated_surveys .survey_warning_message {
  font-size: 14px;
  color: #1c94c4;
}

.ui-autocomplete {
  max-height: 300px;
  width: 400px !important;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
  padding-left: 10px;
  list-style-type: none;
  font-size: 15px !important;

  .ui-state-hover {
    font-weight: normal !important;
    background: none !important;
  }
}

.apply_federal_to_all {
  text-align: right !important;
  padding-right: 15px;
  a {
    color:#1C94C4 !important;
  }
}

.increase_decrease_dialog {
  div {
    margin-top: 20px;
    display: block;
  }
    label {
      text-align: right;
      width: 150px;
      float:left;
      padding-top:3px;
      color: #1C94C4;
    }
    input {
      margin-left: 10px;
    }
    p {
      margin: 0 0 0 160px;
      font-size: 12px;
      font-style: italic;
      color: gray;
    }
    span {
      display:inline-block;
      color:gray;
    }
}

.custom_error_field {
  border: 2px solid salmon;
}

.custom_error_message {
  background-color: salmon;
  padding: 3px;
}

img.spinner {
  display: none;
}

td.footnote {
  text-align: left !important;
  color: gray;
  font-size: 12px;
  font-style: italic;
}

.blank_field_errors, .otf_field_errors, .per_patient_errors {
  background-color: salmon;
  padding: 3px 10px;
  width: 560px;
  display: none;
}

td.disabled_inputs {
  input {
    width: 385px !important;
  }
}

.disabled_button {
  color: gray;
}

.pricing_map_fix_spinner {
  display: none;
}


#error_explanation, .error_explanation, #errorExplanation, .errorExplanation {
  padding: 20px 35px !important;
  border: 1px solid #8a1f11 !important;
  padding: 7px !important;
  padding-bottom: 12px !important;
  margin: 20px 0 !important;
  background: #FFFFD5 !important;
  color: #8a1f11 !important;
  width: 800px !important;
  h2 {
    text-align: left !important;
    font-weight: bold !important;
    padding: 5px 5px 5px 15px !important;
    font-size: 12px !important;
    margin: -7px !important;
    margin-bottom: 5px !important;
    background-color: #FFFFD5 !important;
  }
  p {
    color: #333 !important;
    margin-bottom: 0 !important;
    padding: 5px !important;
  }
  ul {
    margin-left: 25px;
    li {
      font-size: 12px !important;
      list-style: square !important;
      list-style-position: inside;
    }
  }
}

.field_with_errors {
  display: inline !important;
  label {
    color: #8a1f11 !important;
  }
  input, select, textarea {
    border: 1px solid #8a1f11 !important;
    background-color: #FFFFD5 !important;
    color: red !important;
  }
}

input.new_excluded_funding_source {
  width: 300px;
}

ul.excluded_funding_sources {
  list-style: none;
  margin: 0px;
  padding: 0px;
  li {
    width: 300px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;  
    padding: 5px;
    border: 2px solid gray;
    background-color: white;
  }
}
th.excluded_funding_source {
  vertical-align: text-top;
}

span.remove_funding_source {
  float: right;
  cursor: pointer;
}

#processing_request {
  margin: 0 !important;
}

.processing_request .ui-dialog-titlebar {
  display: none;
}
