/* Copyright © 2011-2019 MUSC Foundation for Research Development*/
/* All rights reserved.*/

/* Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*/

/* 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*/

/* 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following*/
/* disclaimer in the documentation and/or other materials provided with the distribution.*/

/* 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products*/
/* derived from this software without specific prior written permission.*/

/* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,*/
/* BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT*/
/* SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL*/
/* DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS*/
/* INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR*/
/* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*/

/* Color variables */
$manila: #ecd08d

.no-margin-top
  margin-top: 0px

#cm-accordion
  .panel-heading
    display: inline-block
    width: 100%
  .panel-body
    display: inline-block
    border: 0px
  .panel-group
    display: grid
  .fix_spec_overlap
    display: block
    height: 20px
    width: 16px

.org-form-label
  font-size: 14px !important
  &:focus, &:hover
    text-decoration: none

.catalog-glyphicon
  margin-right: 10px
  color: $manila

#catalog, #org-form-container
  margin-top: 25px

#catalog .unavailable-org
  font-style: italic

/* Form Styling */
.form_row
  border-bottom: 1px solid #DDD
  padding-bottom: 10px
  margin-bottom: 10px

.non_bold_label
  font-weight: normal

#new_pricing_setup_link,
#new_pricing_map_link
  margin-bottom: 20px


#pricing_setup_list,
#pricing_map_list
  [data-toggle=collapse]
    margin: 20px 0

#pricing_setup_modal,
#pricing_map_modal
  fieldset
    legend
      margin: 25px 0

#increase_decrease_container
  margin: 50px 0
