-# Copyright © 2011-2016 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

- if merged
  - path_method = method(:merged_calendar_dashboard_service_calendars_path)
- elsif review
  - path_method = method(:refresh_service_calendar_dashboard_sub_service_request_path)
- else
  - path_method = method(:table_dashboard_service_calendars_path)
- page = pages[arm.id].to_i == 0 ? 1 : pages[arm.id].to_i
- url_data = { sub_service_request_id: sub_service_request.try(:id), service_request_id: service_request.try(:id), pages: pages, arm_id: arm.id, tab: tab, portal: portal, format: :js }
.col-xs-2
  .page_change_arrow.btn.btn-info.glyphicon.glyphicon-arrow-left{ title: 'View Previous', type: 'button', id: "arrow-left-#{arm.id}", disabled: page == 1 ? true : nil, role: 'button', aria: { label: 'View Previous' }, data: { toggle: 'tooltip', animation: 'false', url: path_method.call(url_data.merge(page: page - 1)) } }
-# The visit jump to drop down
.col-xs-8
  = Dashboard::ServiceCalendars.build_visits_select(arm, page, path_method.call(url_data))
-# The next page arrow
.col-xs-2
  .page_change_arrow.btn.btn-info.glyphicon.glyphicon-arrow-right{ title: 'View More', type: 'button', id: "arrow-right-#{arm.id}", disabled: ((page + 1) * 5) - 4 > arm.visit_count ? true : nil, role: 'button', aria: { label: 'View More' }, data: { toggle: 'tooltip', animation: 'false', url: path_method.call(url_data.merge(page: page + 1)) } }
