:javascript
  $(document).ready( function() {
    Sparc.admin.ready();
  });

.admin-right-dashboard
  .user-information-body
    %p
      = @user.full_name
      |
      = @user.email
    .admin-buttons
      = link_to "Auditing/Billing Report", billing_report_setup_study_tracker_home_index_path, :class => "billing_report header_button"

= render :partial => 'portal/admin/ssr_list'
