:javascript
  $(document).ready( function() {
    Sparc.admin.ready();
  });

.admin-right-dashboard
  .user-information-body.ui-corner-bottom
    %p
      %strong= @user.display_name
.admin-buttons
  = link_to image_tag('portal/billing_button.png'), billing_report_setup_study_tracker_home_index_path

= render :partial => 'portal/admin/ssr_list'
