:markdown
  _#{ date.to_formatted_s(:long) }_

  _Billable Contact Name  
  ATTN: Accounts Payable  
  Address  
  City, State  
  Zip Code_  

  To Whom It May Concern:

  Subject: Invoice # _123_
  
  Enclosed is invoice # _123_ for Sample Study associated with study #{ srid } #{ short_title }. Please see attached supporting documentation.

  Please make check(s) payable to MUSC Foundation for Research Development Office of Industry Partnerships and mail to:
  
  MUSC Foundation for Research Development Office of Industry Partnerships  
  Attn: _Your Name_
  19 Hagood Avenue, Suite 909  
  Charleston, SC 29425  

  Please contact me at _Phone Number_ or _Email address_ if you have any questions or concerns in reference to this correspondence.

  Sincerely,

  _Your Name_  
  _Your Title_  
  Medical University of South Carolina  

  Attachment(s)