%h1 Create a new cover letter
= form_for [:study_tracker, @sub_service_request, @cover_letter] do |f|
  =f.hidden_field :content
  #cover_letter_content_editor.editable{ contenteditable: true}
    = render partial:'template', locals:{date: Date.today, srid: @srid, short_title: @short_title}
    
  %p.buttons
    = f.submit t(:study_tracker)[:create], class: 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover ui-state-active'
    = link_to "Cancel", study_tracker_sub_service_request_path(@sub_service_request)
