#header
	#org_logo
		%a{href: HEADER_LINK_1}
			= image_tag 'SCTR Logo.png', alt: 'org_logo'
	#sparc_request_header
		%a{href: HEADER_LINK_2}
			= image_tag 'SPARC Request Logo.jpg', alt: 'sparc_logo'
	#institution_logo
		%a{href: HEADER_LINK_3, target: '_blank'}
			= image_tag 'MUSC Logo.jpg', alt: 'institution_logo'
