= javascript_include_tag 'user_search'

.search_container
  %p= t :user_search_message
  %br 
  %h3= t :search_box_header 
  .search
    = text_field_tag 'user_search_term', nil, :placeholder => t(:search_placeholder), :class => "search-identities"
