= javascript_include_tag 'user_search'

.search_container
  %p To begin to search and add authorized users to this study/project, type in the first or last name of the user. Select as appropriate.
  %br 
  %h3 User Search 
  .search
    = text_field_tag 'user_search_term', nil, :placeholder => "Search for User ...", :class => "search-identities"