/ - if session[:errors]
/   .grid_12
/     #errorExplanation
/       %h2
/         = pluralize(session[:errors].count, "error")
/         prohibited this service request from being saved:
/       %ul
/         - session[:errors].each do |key, msgs|
/           - msgs.each do |msg|
/             %li= msg
/   - session.delete(:errors)

- if session[:errors] && !session[:errors].empty?
  .grid_12
    #errorExplanation
      %h2
        = pluralize(session[:errors].count, "error")
        prohibited this service request from being saved:
      %ul
        - session[:errors].each do |msg|
          %li
            = msg
  - session.delete(:errors)