= link_to new_external_organization_path(protocol_id: protocol.id), remote: true, class: 'btn btn-success', id: 'newExternalOrganization' do
  = icon('fas', 'plus')
  = t('external_organizations.add')
