= link_to new_external_organizations_path(protocol_id: protocol.id, index: index), remote: true, class: 'btn btn-success', id: 'newExternalOrganization' do
  = icon('fas', 'plus')
  = t('external_organizations.add')
