= form_tag(portal_mark_as_read_notifications_path, :method => :put, :remote => true, :class => 'notifications-form') do
  %input.read_or_unread_field{:type => 'hidden', :name => 'read_or_unread', :value => "unread"}
  .admin-notifications
    .notification-action-bar.ui-corner-all
      %a.white_link.select_all{:href => 'javascript:void(0)'}
        Select All
      |
      %a.white_link.deselect_all{:href => 'javascript:void(0)'}
        Deselect All
      .right
        %a.white_link#read_or_unread_link{:href => 'javascript:void(0)'}
          Mark as Unread
      .clear

    .notifications-header
      .icon-column
      .from-column
        %strong From:
      .subject-column{:style => 'width:115px'}
        %strong Subject:
      .preview-column{:style => 'width:275px'}
        %strong Preview:
      .received-column{:style => 'width:80px'}
        %strong Received:
      .notification-selection{:style => 'margin-left:55px'}

    - @notifications.each do |notification|
      = render 'portal/notifications/admin_notification', :notification => notification, :friendly_id => @service_request.friendly_id, :ssr_id => @sub_service_request.sub_service_request_id

:javascript
  $(document).ready(function(){ Sparc.notifications.ready(); })
