%h3 Service Request Information
- unless @service_request.notes.blank?
  .notes{:style => 'margin-top:10px; margin-left:10px'}
    %h4 Notes:
    = @service_request.notes
.pseudo_table_header
  .center
    %ul
      %li
        %div{:style => 'width:80px'}
          PI Contribution
          %br
          - program_or_core_id = @sub_service_request.try(:program_or_core).try(:id)
          %input.pi-contribution.default_textbox{:type => 'text', :'data-program_or_core_id' => program_or_core_id, :'data-sub_service_request_id' => params[:id], :'data-total_cost' => display_total(@project, @one_time_fee_line_items, @per_patient_per_visit_line_items, 'direct'), :value => number_to_currency(cents_to_dollars(@service_request.subsidies.try(:[], program_or_core_id).try(:[], 'pi_contribution')))}
        %div{:style => 'width:78px'}
          %br
          &#37;Subsidy
          %br
          %input.subsidy.default_textbox{:type => 'text'}
        %div{:style => 'width:90px'}
          Consult Arrange Date
          %br
          %input.date.consult_arranged_date#consult_arranged_date.default_textbox{:type => 'text', :'data-sub_service_request_id' => params[:id], :value => @service_request.try(:consult_arranged_date)}
        %div{:style => 'width:100px'}
          Requester Contacted Date
          %br
          %input.date.requester_contacted_date#requester_contacted_date.default_textbox{:type => 'text', :'data-sub_service_request_id' => params[:id], :value => @service_request.try(:requester_contacted_date)}
    .clear
    %br
    %ul
      %li
        - %w[start end].each do |type|
          %div{:style => 'width:100px'}
            Proposed #{type.capitalize} Date
            %br
            %input.date{:type => 'text', :class => "proposed_#{type}_date", :'data-sub_service_request_id' => params[:id], :value => @service_request.try("#{type}_date".to_sym)}

    %br

:javascript
  Sparc.fulfillment_sr_info.ready();
  $('.pi-contribution').trigger('keyup');
