%h3 Status Changes
%table{:id => 'status_history_table', :class => 'tablesorter'}
  %thead
    %tr
      %th Date Changed
      %th Status Changed To
  %tbody
    - if @sub_service_request
      - @sub_service_request.display_status_history.each do |history|
        %tr
          %td= history[0]
          %td= history[1]
