:javascript
  var service_request_id = '#{@service_request.id}';
%div{"ng-controller" => "DocumentManagementAdditionalDetailsController"}
  = render :partial => 'additional_detail/shared/additional_detail_modal' 
  = render :partial => 'additional_detail/shared/additional_detail_grid'   