-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- query               = { research_billing_qty: 0 }
- query[:line_items]  = { sub_service_request: sub_service_request } if sub_service_request
- checked             = visit_group.visits.joins(line_items_visit: :line_item).where(query).empty?
- check_param         = checked ? 'uncheck' : 'check'
- icon                = checked ? 'glyphicon-remove' : 'glyphicon-ok'
- klass               = checked ? 'btn-danger' : 'btn-success'
- tooltip             = checked ? t(:calendars)[:pppv][:editable_fields][:column_select][:uncheck] : t(:calendars)[:pppv][:editable_fields][:column_select][:check]
- url                 = toggle_calendar_column_service_calendars_path(srid: service_request.id, visit_group_id: visit_group.id, admin: admin.to_s, page: page, :"#{check_param}" => 'true')
- url                += "&sub_service_request_id=#{sub_service_request.id}" if sub_service_request

%span.btn.btn-xs.glyphicon.service-calendar-column{ id: "check-all-column-#{visit_group.id}", class: [icon, klass], data: { toggle: 'tooltip', animation: 'false', title: tooltip, url: url } }