- appointment_index = -1
- @cwf_cores.each do |org|
  - appointment = get_appointment_for_tab(calendar_form, @default_visit_group_id, org)
  - unless appointment.nil?
    - appointment_index += 1
    = render :partial => "individual_core_appointment", :locals => {:calendar_form => calendar_form, :org => org, :appointment => appointment, :appointment_index => appointment_index}
  - else
    %div{:id => "tab-#{org.id}"}