%table.study_tracker_table{:style => "width:880px;"}
  %thead.left_headers
    %tr.ui-widget-header
      %th= t(:study_tracker)[:dashboard][:header1]
      %th= t(:study_tracker)[:dashboard][:header2]
    - completed_appointments.each do |key, array|
      =render :partial => 'total', :locals => {:appointments => array}
    %tr.ui-widget-header
      %th= t(:study_tracker)[:dashboard][:header3]
      %th= number_to_currency(@calendar.completed_total)