%h3{:style => 'text-align:center;'} There are no appointments for this subject
%p{:style => "text-align:center; margin-bottom:12px;"}= link_to t(:study_tracker)[:visit_calendar][:cwf_link], study_tracker_sub_service_request_path(@sub_service_request), :class => "ui-button ui-state-default ui-button-text-only", :style => "padding:0.45em 1em;font-size:1.2em;"