- procedures = procedures_for_visit_group(appointments)

%tr{:class => "appointment #{appointments.first.visit_group.id}" }
  %td= appointments.first.visit_group.name
  %td= number_to_currency(procedures.sum{|x| x.total})
