/////////////////////////////////////////////
//
// PROJECT - Edit Project
//
/////////////////////////////////////////////

= render :partial => 'service_requests/steps'
.clear
.edit_project= render :partial => 'project/form', :locals => {:project => @project, :service_request => @service_request}
