:plain
  $('#details').empty();

  /* display the success message */
  $('#flash').hide();
  $('#flash').html("Creating new service canceled");
  $('#flash').slideDown();
  $('#flash').delay(3000);
  $('#flash').slideUp();
