// Copyright © 2011-2019 MUSC Foundation for Research Development
// All rights reserved.

// Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

// 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

// 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
// disclaimer in the documentation and/or other materials provided with the distribution.

// 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
// derived from this software without specific prior written permission.

// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
// BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
// SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
// TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
@import 'proper/colors'

#survey-response
  .modal-title,
  .panel-title,
  .survey-description,
  .section-description,
  .question-description
    word-wrap: break-word

  .survey-sections
    display: inline-block
    width: 100%

  .form-group, .question
    display: inline-block
    width: 100%

    .likert-group
      display: flex

      .likert-option
        display: inline-block

        .likert:before
          content: ''
          position: relative
          top: 11px
          display: block
          background-color: #efefef
          height: 4px

        .likert
          input
            position: relative

      .likert-option:not(:first-child), .likert-option:not(:last-child)
        .likert:before
          width: 100%

      .likert-option:first-child
        .likert:before
          width: 50%
          left: 50%

      .likert-option:last-child
        .likert:before
          width: 50%

#filter-responses
  #filterrific_include_incomplete
    margin-top: 11px

#responses-panel
  .fixed-table-toolbar
    display: flex
    flex-direction: row
    align-items: center
    padding: 10px 15px
    background: $sparc-blue
  
    .columns
      order: 3

      .export
        .dropdown-toggle
          .caret
            display: none

    .bars
      flex-grow: 1
      
      #responses-custom-toolbar
        .panel-title
          color: white

  .fixed-table-container
    border-radius: 0

  .fixed-table-pagination
    padding: 0 20px  
