The following
= pluralize(@surveys.size, "survey")
are available to be completed:

%br
%br

- @surveys.each do |survey|
  = link_to survey.title, direct_link_survey_url(survey.access_code, :survey_version => survey.survey_version)
  %br
