= @identity.display_name 
has completed a system satisfaction survey.

Results can be found 
= link_to 'here', surveyor.view_my_survey_url(@response_set.survey.access_code, @response_set.access_code)
