development:
  default_mail_to: catesa@musc.edu
  admin_mail_to: catesa@musc.edu
  new_user_cc: "amcates@gmail.com, no-reply@musc.edu"
  user_portal_link: 'http://musc-pro.homelinux.net:3001/'
  use_indirect_cost: false
  
test:
  default_mail_to: catesa@musc.edu
  admin_mail_to: catesa@musc.edu
  new_user_cc: "amcates@gmail.com, no-reply@musc.edu"
  user_portal_link: http://localhost:3000/
  use_indirect_cost: false
  
