development:
  default_mail_to: catesa@musc.edu
  admin_mail_to: catesa@musc.edu
  feedback_mail_to: "glennj@musc.edu, hundc@musc.edu"
  new_user_cc: "amcates@gmail.com, no-reply@musc.edu"
  system_satisfaction_survey_cc: 'amcates@gmail.com, catesa@musc.edu'
  root_url: "https://andrews-mac-pro.thurmond-gazes.musc.edu"
  user_portal_link: 'http://musc-pro.homelinux.net:3001/'
  header_link_1: http://sctr.musc.edu
  header_link_2: http://sctr.musc.edu
  header_link_3: http://www.musc.edu
  use_indirect_cost: false
  use_shiboleth: true
  use_ldap: true
  wkhtmltopdf_location: '/usr/local/bin/wkhtmltopdf'
  approve_epic_rights_mail_to: "glennj@musc.edu, forney@musc.edu, crossoml@musc.edu"
  use_epic: true
  use_google_calendar: true
  use_news_feed: true
  google_username: sparcrequest@gmail.com
  google_password: MUSCsparcrequest
  
test:
  default_mail_to: catesa@musc.edu
  admin_mail_to: catesa@musc.edu
  feedback_mail_to: "glennj@musc.edu, hundc@musc.edu"
  new_user_cc: "amcates@gmail.com, no-reply@musc.edu"
  system_satisfaction_survey_cc: 'amcates@gmail.com, catesa@musc.edu'
  root_url: "https://andrews-mac-pro.thurmond-gazes.musc.edu"
  user_portal_link: http://localhost:3000/
  header_link_1: http://sctr.musc.edu
  header_link_2: http://sctr.musc.edu
  header_link_3: http://www.musc.edu
  use_indirect_cost: false
  use_shiboleth: true
  use_ldap: true
  wkhtmltopdf_location: '/usr/local/bin/wkhtmltopdf'
  approve_epic_rights_mail_to: "glennj@musc.edu, forney@musc.edu, crossoml@musc.edu"
  use_epic: true
  use_google_calendar: true
  use_news_feed: true
  google_username: sparcrequest@gmail.com
  google_password: MUSCsparcrequest
