development:
  user: root
  adapter: mysql2
  encoding: utf8
  database: sparc_rails_development
  pool: 5
  timeout: 5000

profile:
  username: sparc
  password: sparc
  adapter: mysql2
  encoding: utf8
  database: sparc_development
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: ':memory:'

