development:
  primary:
    username: root
    adapter: mysql2
    encoding: utf8
    database: sparc_rails_development
    pool: 5
    timeout: 5000
    variables:
      sql_mode: TRADITIONAL

profile:
  primary:
    username: sparc
    password: sparc
    adapter: mysql2
    encoding: utf8
    database: sparc_development
    pool: 5
    timeout: 5000
    variables:
      sql_mode: TRADITIONAL

# configured for travis-ci
test:
  primary:
    adapter: mysql2
    database: test_sparc_request
    encoding: utf8
    username: travis
    pool: 5
    timeout: 5000
    variables:
      sql_mode: TRADITIONAL
