production:
  study_root: '1.2.3.4'
  endpoint: 'http://TODO/'
  epoch: '2013-01-01'
  namespace: 'urn:ihe:qrph:rpe:2009'

development:
  study_root: '1.2.3.4'
  test_mode: true

test:
  study_root: '1.2.3.4'
  test_mode: true

