development:
  ldap_host: authldap.musc.edu
  ldap_port: 636
  ldap_base: 'ou=people,dc=musc,dc=edu'
  ldap_encryption: simple_tls
  ldap_domain: musc.edu
  ldap_uid: uid
  ldap_last_name: sn
  ldap_first_name: givenname
  ldap_email: mail

test:
  ldap_host: authldap.musc.edu
  ldap_port: 636
  ldap_base: 'ou=people,dc=musc,dc=edu'
  ldap_encryption: simple_tls
  ldap_domain: musc.edu
  ldap_uid: uid
  ldap_last_name: sn
  ldap_first_name: givenname
  ldap_email: mail