%div{"ng-controller" => "AdditionalDetailsRootController"}
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3 Additional Details
        .row
          .col-md-12
            %div{:id=>"rootGrid", "ui-grid"=>"gridModel", "ui-grid-edit"=>"true", "ui-grid-auto-resize"=>"true", "ui-grid-selection"=>"true", "external-scopes"=>"$scope", :style=>"height: 400px;"}
