.modal.fade{:id=>"additionalDetailQuestionEditModal", :role=>"dialog", :tabindex=>"-1", "aria-labelledby"=>"myModalLabel"}
  .modal-dialog.modal-lg{:role=>"document"}
    .modal-content
      .modal-header 
        %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
          %span{"aria-hidden"=>"true"} &times;
        %h4.modal-title {{modalSaveText}} a Question
      .modal-body
        .alert{"ng-show"=>"alertMessage", "ng-class"=>"{ 'alert-success' : resourceSuccessful, 'alert-danger' : !resourceSuccessful }", :role=>"alert"} {{alertMessage}}
        %form{:id=>"questions",:name=>"form", :role=>"form", "data-toggle"=>"validator"}
          .row
            .col-md-12
              .form-group.has-feedback
                %label{:for=>"name"} Question
                %input.form-control{:id=>"name",:type=>"text", :placeholder=>"Question", :required=>"required", "ng-model"=>"field.name"}
                .help-block.with-errors
          .row
            .col-md-6
              .form-group.has-feedback
                %label{:for=>"key"} Key
                %input.form-control{:id=>"key", "pattern"=>"([A-Za-z0-9\_]+)", "ng-model"=>"field.key", "type"=>"text", :value=>"", "data-error"=>"{{keyError()}}", :placeholder=>"Key", :required=>"required"}
                .help-block Only letters, numbers, and underscores
                .help-block.with-errors 
            .col-md-6
              .form-group
                %label{:for=>"kind"} Type
                %select.form-control{:id=>"kind", "ng-model"=>"field.kind", :required=>"required"}
                  %option{:disabled=>"disabled", :value=>'', :selected=>"selected"} Please Select One
                  %option{"ng-repeat"=>"(key,value) in typeHash", :value=>"{{key}}"} {{value}}
                .help-block.with-errors
          .row
            .col-md-6
              .form-group
                %label{:for=>"description"} Description
                %textarea.form-control{:id=>"description",:type=>"text", :placeholder=>"Description (Optional)", "ng-model"=>"field.description"}
                .help-block.with-errors
            .col-md-6
              .form-group{:style=>"{{displayValue}}"}
                %label{:for=>"values"} Values
                %textarea.form-control{:id=>"values", "ng-model"=>"field.values", :type=>"text", :placeholder=>"Values", "aria-describedby"=>"valuesHelpBlock"}
                %span.help-block{:id=>"valuesHelpBlock"} Please separate values with commas.
          .row
            .col-md-6
              .form-group
                %label{:for => :conditionId} Show on Condition
                %select.form-control{:id => :conditionId, "ng-model"=>"field.conditionId"}
                  %option{:value=>'', :selected=>"selected"} None
                  %option{"ng-repeat"=>"question in gridModel.data", "ng-disabled"=>"question.id == field.id", :value=>"{{question.id}}"} {{question.key}}
            .col-md-6{"ng-show"=>"field.conditionId"}
              .form-group
                %div{"ng-show" => "questionKindInArray(field.conditionId, showByTextInput)"}
                  %label{:for => "conditionValue"} Value
                  %input.form-control{:id => :conditionValue, :type=>"text", :placeholder=>"Value needed to Show", "ng-model"=>"field.conditionValue"}
                %div{"ng-show" => "questionKindInArray(field.conditionId, showByDropDown)"}
                  %label{:for => :conditionValue} Value
                  %select.form-control{:id => :conditionId, "ng-model"=>"field.conditionValue"}
                    %option{:disabled=>"disabled", :value=>'', :selected=>"selected"} Please Select One
                    %option{"ng-repeat"=>"value in conditionalEnum", :value=>"{{value}}"} {{value}}
                %div{"ng-show" => "questionKindInArray(field.conditionId, showByDropDownWithTitleMapping)"}
                  %label{:for => :conditionValue} Value
                  %select.form-control{:id => :conditionId, "ng-model"=>"field.conditionValue"}
                    %option{:disabled=>"disabled", :value=>'', :selected=>"selected"} Please Select One
                    %option{"ng-repeat"=>"value in conditionalTitleMap", :value=>"{{value.value}}"} {{value.name}}
                %div{"ng-show" => "getQuestion(field.conditionId).kind == 'datepicker'"}
                  %label{:for => :conditionStartDate} Date After
                  %input{:id=> :conditionStartDate, :type => 'text',class: "form-control datepicker", "ng-model" => "field.conditionStartDate", "date-format"=>"MM/dd/yyyy", :placeholder=>"Start Date", "data-date-type"=>"string", :cursor=>"pointer", "bs-datepicker"=>"bs-datepicker", :autoclose =>"true"}
                  %label{:for => :conditionEndDate} Date Before
                  %input{:id=> :conditionEndDate, :type => 'text',class: "form-control datepicker", "ng-model" => "field.conditionEndDate", "date-format"=>"MM/dd/yyyy", :placeholder=>"End Date", "data-date-type"=>"string", :cursor=>"pointer", "bs-datepicker"=>"bs-datepicker", :autoclose =>"true"}
                %div{"ng-show" => "getQuestion(field.conditionId).kind == 'number'"}
                  %div 
                  .row
                    .col-md-9
                      %label{:for => :conditionValueMin} Minimum Value
                      %input.form-control{:id => "conditionValueMin", :type=>"number", :placeholder=>"Minimum value needed to Show", "ng-model"=>"field.conditionValueMin"}
                    .col-md-3.checkbox
                      %label
                        %input{:id => :minInclusive, :type => :checkbox, "ng-model"=>"field.minInclusive"} Inclusive
                  .row
                    .col-md-9
                      %label{:for => :conditionValueMax} Maximum Value
                      %input.form-control{:id => :conditionValueMax, :type=>"number", :placeholder=>"Maximum value needed to Show", "ng-model"=>"field.conditionValueMax"}
                    .col-md-3.checkbox
                      %label
                        %input{:id => :maxInclusive, :type => :checkbox, "ng-model"=>"field.maxInclusive"} Inclusive
                  
                
          
          .row
            .col-md-12
              .row
                .col-md-2
                  .form-group
                    %label{:for=>"required"} Required
                    %input{"ng-disabled"=>"field.conditionId", :id=>"required", "ng-model"=>"field.required", :type=>"checkbox", :value=>""}
                .col-md-5
                  .form-group{:style=>"{{minMaxDisplay}}"}
                    %label{:for=>"min"} {{minDisplay}}
                    %input.form-control{:id=>"min", "ng-model"=>"field.min", "data-error"=>"Minimum value must be greater than maximum value", :type=>"number", :placeholder=>"Min"}
                    .help-block.with-errors 
                .col-md-5
                  .form-group{:style=>"{{minMaxDisplay}}"}
                    %label{:for=>"max"} {{maxDisplay}}
                    %input.form-control{:id=>"max", "ng-model"=>"field.max", "data-error"=>"Maximum value must be greater than minimum value", :type=>"number", :placeholder=>"Max"}
                    .help-block.with-errors 
      .modal-footer
        %button.btn.btn-success{:type=>"submit", "ng-click"=> "addQuestion(field)", "ng-disabled"=>"!field.key || !field.name || !field.kind || !validMinMax()"} {{modalSaveText}} Question
        %button.btn.btn-warning{"ng-click"=>"resetQuestion()"} Clear Question
        %button.btn.btn-default{"data-dismiss"=>"modal"} Cancel
