.row
  .col-md-6
    .form-oup
      %label{:for => :conditionId}= t(:additional_details)[:admin][:question_modal_condition_field]
      %select.form-control{:id => :conditionId, "ng-model"=>"field.conditionId"}
        %option{:value=>'', :selected=>"selected"} None
        %option{"ng-repeat"=>"question in gridModel.data", "ng-disabled"=>"question.id == field.id", :value=>"{{question.id}}"} {{question.key}}
      .help-block Branching logic
  .col-md-6{"ng-show"=>"field.conditionId"}
    .form-group
      %div{"ng-show" => "field.conditionId && questionKindInArray(field.conditionId, showByTextInput)"}
        %label{:for => "conditionValue"} Value
        %input.form-control{:id => :conditionValue, :type=>"text", :placeholder=>"Value needed to Show", "ng-model"=>"field.conditionValue"}
      %div{"ng-show" => "field.conditionId && questionKindInArray(field.conditionId, showByDropDown)"}
        %label{:for => :conditionValue} Value
        %select.form-control{:id => :conditionId, "ng-model"=>"field.conditionValue"}
          %option{:disabled=>"disabled", :value=>'', :selected=>"selected"} Select One
          %option{"ng-repeat"=>"value in conditionalEnum", :value=>"{{value}}"} {{value}}
      %div{"ng-show" => "field.conditionId && questionKindInArray(field.conditionId, showByDropDownWithTitleMapping)"}
        %label{:for => :conditionValue} Value
        %select.form-control{:id => :conditionId, "ng-model"=>"field.conditionValue"}
          %option{:disabled=>"disabled", :value=>'', :selected=>"selected"} Select One
          %option{"ng-repeat"=>"value in conditionalTitleMap", :value=>"{{value.value}}"} {{value.name}}
      %div{"ng-show" => "field.conditionId && getQuestion(field.conditionId).kind == 'datepicker'"}
        %label{:for => :conditionStartDate} Date After
        %input{:id=> :conditionStartDate, :type => 'text',class: "form-control datepicker", "ng-model" => "field.conditionStartDate", "date-format"=>"MM/dd/yyyy", :placeholder=>"Start Date", "data-date-type"=>"string", :cursor=>"pointer", "bs-datepicker"=>"bs-datepicker", :autoclose =>"true"}
        %label{:for => :conditionEndDate} Date Before
        %input{:id=> :conditionEndDate, :type => 'text',class: "form-control datepicker", "ng-model" => "field.conditionEndDate", "date-format"=>"MM/dd/yyyy", :placeholder=>"End Date", "data-date-type"=>"string", :cursor=>"pointer", "bs-datepicker"=>"bs-datepicker", :autoclose =>"true"}
      %div{"ng-show" => "field.conditionId && getQuestion(field.conditionId).kind == 'number'"}
        %div 
        .row
          .col-md-9
            %label{:for => :conditionValueMin} Minimum Value
            %input.form-control{:id => "conditionValueMin", :type=>"number", :placeholder=>"Minimum value needed to Show", "ng-model"=>"field.conditionValueMin"}
          .col-md-3.checkbox
            %label
              %input{:id => :minInclusive, :type => :checkbox, "ng-model"=>"field.minInclusive"} Inclusive
        .row
          .col-md-9
            %label{:for => :conditionValueMax} Maximum Value
            %input.form-control{:id => :conditionValueMax, :type=>"number", :placeholder=>"Maximum value needed to Show", "ng-model"=>"field.conditionValueMax"}
          .col-md-3.checkbox
            %label
              %input{:id => :maxInclusive, :type => :checkbox, "ng-model"=>"field.maxInclusive"} Inclusive