@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-select';
@import 'bootstrap-datetimepicker';
@import 'editable/bootstrap-editable';
@import 'sweetalert';
@import 'additional_details/base/mixins.scss';
@import 'additional_details/base/normalize.scss';
@import 'additional_details/base/globals.scss';
