# Copyright © 2011-2016 MUSC Foundation for Research Development
# All rights reserved.

# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
# disclaimer in the documentation and/or other materials provided with the distribution.

# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
# derived from this software without specific prior written permission.

# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

addService = (sr_id, id) ->
  $.ajax
    type: 'POST'
    url: "/service_requests/#{sr_id}/add_service/#{id}"

removeService = (sr_id, id, move_on) ->
  $.ajax
    type: 'POST'
    url: "/service_requests/#{sr_id}/remove_service/#{id}"
    success: (data, textStatus, jqXHR) ->
      if move_on
        window.location.replace($("#dashboard_link").val())

requestSubmittedDialog = (sr_id, id)->
  options = {
    resizable: false,
    height: 220,
    modal: true,
    autoOpen: false,
    buttons:
      "Yes": ->
        $("#services .line-items").remove()
        $("#services").append('<span class="spinner"><img src="/assets/spinner.gif"/></span>')
        removeService(sr_id, id, false)
        $(this).dialog("close")
      "No": ->
        $(this).dialog("close")
  }
  $('#request_submitted_dialog').dialog(options).dialog("open").prev('.ui-dialog-titlebar').css('background', 'red')
  return false


$(document).ready ->

  $("#cart-help").dialog
    autoOpen: false
    height: 425
    width: 500
    modal: true

  $(document).on('click', '.faq-button', ->
    $("#cart-help").dialog( "open" )
  )

  $('.help_answer').hide()

  $('.help_question').live 'click', ->
    $(this).siblings().toggle().css('font-style': 'italic')

  $(document).on('click', '.add_service' , ->
    sr_id = $(this).attr('sr_id')
    id = $(this).attr('id')
    from_portal = $(this).attr('from_portal')
    first_service = $(this).attr('first_service')
    li_count = $('#line_item_count').val()

    if (from_portal != 'true') && (first_service == 'true') && (li_count == '0')
      options = {
        resizable: false,
        height: 220,
        modal: true,
        autoOpen: false,
        buttons:
          "Yes": ->
            addService(sr_id, id)
            $(this).dialog("close")
          "No": ->
            window.location = "/dashboard"
            $(this).dialog("close")
      }
      $('#new_request_dialog').dialog(options).dialog("open")
      return false
    else
      addService(sr_id, id)
  )

  $(document).on('click', '.remove-button', ->
    sr_id = $(this).attr('sr_id')
    ssr_id = $(this).attr('ssr_id')
    id = $(this).attr('id')
    li_count = $('#line_item_count').val()
    has_fulfillments = Boolean($(this).data("has_fulfillments"))
    request_submitted = Boolean($(this).data("request_submitted"))
    if has_fulfillments
      alert(I18n["has_fulfillments"])
    else if request_submitted
      requestSubmittedDialog(sr_id, id)
    else
      if li_count == "1" and ssr_id != ''
        if confirm(I18n["cart"]["remove_request_confirm"])
          $("#services .line-items").remove()
          $("#services").append('<span class="spinner"><img src="/assets/spinner.gif"/></span>')
          $(this).hide()
          removeService(sr_id, id, true)
      else
        $("#services .line-items").remove()
        $("#services").append('<span class="spinner"><img src="/assets/spinner.gif"/></span>')
        $(this).hide()
        removeService(sr_id, id, false)
  )
