.contenteditable {
  padding: 1em;
  border: 1px dashed #84d1eb;
}

form.new_cover_letter,
form.edit_cover_letter {
    margin: 1em;

    .buttons {
      margin-top: 1.5em;
      a {
        background: url("yellowbutton_smaller.png") no-repeat;
        border: 0 none;
        color: #FFFFFF;
        cursor: pointer;
        height: 27px;
        width: 149px;
        padding: 9px 0 0;
        display: inline-block;
        text-align: center;
      }
      input {
        background: url("yellowbutton_smaller.png") no-repeat;
        border: 0 none;
        color: #FFFFFF;
        cursor: pointer;
        height: 35px;
        width: 149px;
        font-size: 12px;
      }
    }
}

#cover_letter_content_editor {  
  p{ margin-bottom: 1.5em; }
  em{ 
    background-color: #fff7b7;
  }
}

table#billings_list {
  margin-bottom: 1.5em;
  width: 100%;
  thead {
    tr {
      background-color: #0775B0;
      color: white;
    }
  }

  td, th {
    padding: 0.5em;
  }
  td {
    background-color: #E8E8E8;
  }
}

#billing {
  padding: 10px;
  .actions, .action {
    a {
      background: url("yellowbutton_smaller.png") no-repeat;
      border: 0 none;
      color: #FFFFFF;
      cursor: pointer;
      height: 27px;
      width: 149px;
      padding: 8px 0 0;
      display: inline-block;
      text-align: center;
    }
    a#research_project_summary_report_in_cwf {
      background: url("yellowbutton_blank.png") no-repeat;
      width: 230px;
    }
  }
}