.contenteditable {
  padding: 1em;
  border: 1px dashed #84d1eb;
}

#new_cover_letter {
    margin: 1em;

    .buttons {
      margin-top: 1.5em;
    }
}

#cover_letter_content_editor {  
  p{ margin-bottom: 0; }
  em{ 
    background-color: #fff7b7;
  }
}

table#billings_list {
  
  td, th {
    padding: 0.5em;
  }

  margin-bottom: 1.5em;
}