// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#documents {
  

  font-size: 14px;

  .documents {
    background-color: #FFF;
    padding: 10px;
    margin: 10px auto;
  }

  .document-management-container {
    margin: 10px 0 10px 10px;
    min-height: 50px;
    padding: 10px;
    text-align: center;
  }

  table {
    width: 100%;
    margin: 10px auto;
    
    tbody {
      background-color:white;
    }

    th {
      font-weight: bold;
      padding: 5px;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    .document_date {
      width: 80px;
    }
    
    .delete {
      text-align: center;
    }

    .update_document {
      width: 360px;
    }

    .document_link a {
      text-decoration: underline;
    }
  }
  
  select#document_type {
    width: auto;
  }

  /*DOCUMENT MANAGEMENT STYLES*/
  .document-management-container table#new_document a.upload_button,
  .document-management-container table#new_document a.ui_close_button {
    background: url("blue_button_short.png") no-repeat;
    border: 0 none;
    height: 30px;
    width: 92px;
  }

  .document-management-container table#new_document a.upload_button.ui-state-hover,
  .document-management-container table#new_document a.upload_button.ui-state-focus,
  .document-management-container table#new_document a.ui_close_button.ui-state-hover,
  .document-management-container table#new_document a.ui_close_button.ui-state-focus,
  .document-management-container a.document_upload_button.ui-state-hover span,
  .document-management-container a.document_upload_button.ui-state-focus span {
    color: white;
  }

  .document-management-container a.document_upload_button {
    background: url("yellowbutton_blank.png") no-repeat;
    border: 0 none;
    display: inline-block;
    font-size: 1.2em;
    height: 28px;
    padding-top: 7px;
    min-width: 230px;
    .ui-button-text {
      padding: 0px;
    }
  }

  .document-management-container {
    margin: 15px 0px 0px;
    padding: 0px;
    min-height: 50px;
    text-align: center;
  }

  .document-management-container table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }

  .document-management-container table td {
    border: 1px solid black;
    padding: 12px;
  }

  .document-management-container table tr.header {
    text-align: center;
    background-color: #D7D7D7;
  }

  .document-management-container table th.center,
  .document-management-container table td.center {
    text-align: center;
    width: auto !important;
  }

  .document-management-container table th {
    font-weight: bold;
    padding: 12px;
    border: 1px solid #D7D7D7;
  }

  .document-management-container table tr.document:nth-child(odd) {
    background-color: #D7D7D7;
  }

  .document-edit-container {
    font-size: 12px;
    background-color: #E1E1E1;
  }

  .document-management-container button.add-new-document {
    margin-top: 15px;
  }

  table.document-edit-table {
    width: 100%;
    text-align: center;
  }

  table.document-edit-table tr td, th {
    padding: 2px;
  }

  .document-upload {
  }

  .document-save {
    width: 80px;
    text-align: right;
  }

  .actions_container {
    width: 95px;
    margin: 0 auto;
  }

  .document_edit {
    padding-right: 20px;
  }

  .document_delete {
  }

  .upload-document-type {
    padding-top: 2px;
  }

  .upload-document-upload {
  }

  .upload-document-save {
    padding-top: 2px;
    text-align: right;
  }

  ul.document-headers {
    text-align: center;
  }

  ul.document_list, ul.new-document-upload-list {
    width: 100%;
    text-align: center;
  }
}

#information {
  width: 892px;
  margin: 0 auto;
  margin-bottom: 5px;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 14px;
  padding: 10px;

  #wrapper {
    background-color: #FFF;
    padding: 2px;
    margin: 2px auto;
  }

  table {
    width: 100%;
    
    th, td {
      text-align: center;
      background-color: #d7d7d7;
      font-weight: normal;
      border: 1px solid white;
      padding: 8px;
    }
  }
}
