#payments {
  padding: 10px;
}

table#payments_list {
  td,th {
    padding: 5px;
  }

  thead{
    th {
      background-color: #0775B0;
      color: white;
    }
  }
  tbody{ 
    vertical-align:top;

    td {
      border-bottom: 1px solid #f3f3f3;
    }

    .date_submitted input,
    .date_received input {
      text-align: center;
    }
    .amount_received input,
    .amount_invoiced input {
      text-align: right;
    }

    input {
      width: 90%;
    }
  }
}

.file_attachment {
  position: relative;
  border: 1px solid #EEE;
  background: #fafafa;
  padding: 2px;
  margin-bottom: 2px;

  .filename {
    display: block;
    margin-right: 16px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    width: 6em;

    &:hover {
      text-decoration: underline;
    }
  }

  .remove_nested_fields {
    position: absolute;
    right: 1px;
    top: 4px;
    width: 14px;
    height: 14px;
    text-indent: -1000em;
    overflow: hidden;
    background: url(../clear_icon.png);
  }
}

.remove_nested_fields.payments {
  display: block;
  height: 16px;
  width: 16px;
  margin-top: 10px;
  background: url(cancel.png) no-repeat;
}

.buttons {
  text-align: center;
}

.add_nested_fields.payments,
.add_nested_fields.uploads {
  background: url("yellowbutton_smaller.png") no-repeat;
  color: #FFFFFF;
  display: block;
  height: 27px;
  padding: 8px 0 0;
  text-align: center;
  width: 149px;
  margin: 10px auto;
}

a.add_nested_fields.uploads {
  margin: 0px;
}

.buttons input#save_payments {
  background: url("yellowbutton_smaller.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  height: 35px;
  width: 149px;
}

