#project {
  background-color: #EEEEEE;
  table {
    font-size: 14px;
    width: 100%;

    th {
      width: 25%;
      padding: 4px;
      text-align: left;
    }

    td {
      padding: 4px;

      div {
        min-height: 25px;
      }
    }
  }

  input {
    width: 98%;
  }

  input[type="checkbox"] {
    width: auto;
  }

  input.datepicker, .form-date {
    width: 15%;
  }

  input[type=submit] {
    width: auto;
  }

  select {
    width: 99%;
  }

  .potential_fields, .awarded_fields, .federal_fields, .human_subjects, .vertebrate_animals, #p_funding_source_other_row, #funding_source_other_row {
    display: none;
  }

  #actions {
    margin-top: 15px;
    text-align: center;

    span {
      margin: 0 10px;
    }
  }
}

#protocol_viewer_table {
  .info {
    text-align: center;
  }
}