#protocol {
    table {
        font-size: 14px;
        width: 100%;

        th {
            width: 25%;
            padding: 4px;
            text-align: left;
        }

        td {
            padding: 4px;

            div {
                min-height: 25px;
            }
        }
    }

    input {
        width: 98%;
    }

    input[type="checkbox"] {
        width: auto;
    }

    input.protocol_date, .form-date {
        width: 15%;
    }

    input[type=submit] {
        width: 92px;
        height: 40px;
        color: white;
        border: 0px;
        font-size: 1.5em;
        background: url(bluebutton.png) no-repeat;
        float: left;
        cursor: pointer;
    }

    select {
        width: 99%;
    }

    #actions {
        text-align: center;
        margin: 15px auto 0;
        width: 250px;

        span {
            margin: 0 10px;
        }
        a {
            background: url(bluebutton.png) no-repeat;
            display: block;
            width: 92px;
            height: 33px;
            color: white;
            border: 0px;
            font-size: 1.5em;
            padding-top: 7px;
            float: right;
        }
    }
}

#change_protocol_type_area {
    .info {
        width: 95%;
    }
    input, select {
        float: left;
    }
    input {
        margin-left: 10px;
    }
    select {
        width: 60% !important;
    }
    option {
        max-width: 100% !important;
    }
}

.fulfillment_notifications {
  li:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}