.user-edit-protocol-view {
  font-size: 12px;
  font-family: "Verdana", Arial, sans-serif;
}

.user-edit-protocol-view .description {
  padding: 0 12px 12px;
}

.user-edit-protocol-view .box {
  width: 100% !important;
  height: auto;
}

.user-edit-protocol-view .info {
  padding: 10px;
  float: left;
  height: 100%;
}

.user-edit-protocol-view .box .info fieldset {
  padding: 1px 7px 5px 7px;
  margin-top: 25px;
  margin-bottom: 5px;
  border: 2px solid black;
  width: 850px;
}

.user-edit-protocol-view .box .info fieldset legend {
  font-size: 14px;
}

.user-edit-protocol-view .box .info fieldset .field {
  padding: 2px;
  margin-bottom: 20px;
  min-height: 23px;
}

.user-edit-protocol-view .box .info .research-type {
  display: block;
  float: left;
  width: 100% !important;
}

.user-edit-protocol-view .box .info .human-subjects,
.user-edit-protocol-view .box .info .vertebrate-animals {
  padding-left: 40px;
}

.user-edit-protocol-view .box .info .study-type {
  display: block;
  float: left;
  width: 100% !important;
}

.user-edit-protocol-view .box .info hr {
  color: #fff;
}

.user-edit-protocol-view .box .info .study-type .study-type-fields{
  padding-left: 40px;
}

.user-edit-protocol-view .box .info .field .date {
  width: 100px !important;
}

.user-edit-protocol-view .box .info .field {
  display: block;
  float: left;
  clear: both;
  margin-top: 4px;
  width: 100% !important;
}

.user-edit-protocol-view .box .info label {
  width: 150px !important;
  display: block;
  float: left;
  margin: 4px 10px 0 0;
  padding: 2px;
  font-size: 1.2em;
}
.user-edit-protocol-view label[for='study_funding_status'],
.user-edit-protocol-view label[for='study_udak_project_number'],
.user-edit-protocol-view label[for='study_funding_rfa'],
.user-edit-protocol-view label[for='study_potential_funding_start_date'],
.user-edit-protocol-view label[for='study_potential_funding_source']
 {
  margin-top: -6px !important;
}

.user-edit-protocol-view .box .info input {
  width: auto !important;
  display: block;
  float: left;
}

.user-edit-protocol-view .box .info input[type=text],
.user-edit-protocol-view .box .info select {
  width: 662px !important;
  margin-top: 2px;
  padding: 6px 0 6px 6px;
  border: 1px solid black;
  font-size: 1.1em;
}
.user-edit-protocol-view .box .info select {
  width: 670px !important;
  padding-right: 6px;
}

.user-edit-protocol-view .box .info textarea {
  height: 300px;
}

.user-edit-protocol-view .box .info input[type=checkbox] {
  margin-top: 9px;
}

.user-edit-protocol-view .box .info option {
  max-width: 375px !important;
}


