#related_service_requests {

  font-size: 14px;

  #requests {
    padding: 10px;
    margin: 10px auto;
  }

  table {
    width: 100%;

    th, td {
      text-align: left;
      background-color: #D7D7D7;
      padding: 15px;
    }
  }

  .rsr-link {
    float: right;
    height: 17px;
    width: 17px;
    margin: 2px 0 -2px;
    background: url(orange_plus.png) no-repeat;
  }
}

.blank_requests {
  padding: 5px;
}

.delete-ssr-button {
  background: url("delete_red.png") no-repeat;
  display: block;
  height: 34px;
  width: 34px;
  margin: 0 auto;
}

.export_to_excel_button,
.send_to_epic_button {
  background: url("blue_button_short.png") no-repeat;
  color: white;
  display: block;
  height: 25px;
  padding-top: 5px;
  width: 92px;
  margin: 0 auto;
}
