#related_service_requests {

  font-size: 14px;
  background-color: #EEEEEE;

  #requests {
    background-color: #FFF;
    padding: 10px;
    margin: 10px auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  }

  table {
    width: 100%;

    th, td {
      text-align: left;
      background-color: #EEE;
      padding: 8px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }
  }

  .rsr-link {
    float: right;
  }
}

.blank_requests {
  background-color: #EEE;
  padding: 5px;
}

.delete-ssr-button {
  float: left;
}

.delete-ssr-indicator {
  display: none;
  float: left;
}

