#related_service_requests {

  font-size: 14px;
  background-color: #EEEEEE;

  #requests {
    background-color: #FFF;
    padding: 10px;
    margin: 10px auto;
  }

  table {
    width: 100%;

    th, td {
      text-align: left;
      background-color: #EEE;
      padding: 8px;
    }
  }

  .rsr-link {
    float: right;
  }
}

.blank_requests {
  background-color: #EEE;
  padding: 5px;
}

.delete-ssr-button {
  background: url("delete_red.png") no-repeat;
  display: block;
  height: 34px;
  width: 34px;
  margin: 0 auto;
}

.export_to_excel_button,
.send_to_epic_button {
  background: url("bluebutton.png") no-repeat;
  color: white;
  display: block;
  height: 25px;
  padding-top: 5px;
  width: 92px;
  margin: 0 auto;
}
