/* Copyright © 2011 MUSC Foundation for Research Development*/
/* All rights reserved.*/

/* Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*/

/* 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*/

/* 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following*/
/* disclaimer in the documentation and/or other materials provided with the distribution.*/

/* 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products*/
/* derived from this software without specific prior written permission.*/

/* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,*/
/* BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT*/
/* SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL*/
/* DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS*/
/* INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR*/
/* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*/

body .ui-tabs .ui-tabs-panel {
  padding: 0px;
}

.service_calendar_spinner {
  width: 16px;
  height: 16px;
  display: none;
}

.service_calendar {
  width: 922px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.service_calendar thead tr th,
.service_calendar tbody tr td {
  border: 1px solid #ccc;
}

#service_calendar .ui-tabs-panel {
  padding: 10px 5px;
}

.service_calendar .table_header {
  font-size: 12px;
}

.service_calendar .section_header {
  font-size: 11px;
  background: #adadad;
}

.service_calendar .sub_section_header {
  font-size: 10px;
  background: #ccc;
}

#service_calendar .service_calendar .section_header,
#service_calendar .service_calendar .totals_section,
#service_calendar .service_calendar .sub_section_header {
  text-align: left;
}

#service_calendar .service_calendar .line_item .service_name {
  text-align: left;
}

.service_calendar .totals_section,
.service_calendar .line_item {
  font-size: 10px;
  border-top: 1px solid #adadad;
}

#service_calendar .table_header th {
  text-align: center;
}

.service_calendar .line_item td.subject_count {
  text-align: center;
}

#service_calendar .service_calendar tbody td.visit {
  text-align: right;
}

#service_calendar .totals_section td {
  text-align: left;
}

#service_calendar .service_calendar .your_cost,
#service_calendar .service_calendar .service_rate,
#service_calendar .service_calendar .otf_total,
#service_calendar .service_calendar .otf_total_direct_cost,
#service_calendar .service_calendar .pp_max_total_direct_cost,
#service_calendar .service_calendar .pp_max_total_indirect_cost,
#service_calendar .service_calendar .pp_max_total,
#service_calendar .service_calendar .pp_line_item_total,
#service_calendar .service_calendar .pp_line_item_study_total,
#service_calendar .service_calendar .pp_total,
#service_calendar .service_calendar .max_direct_per_patient,
#service_calendar .service_calendar .max_indirect_per_patient,
#service_calendar .service_calendar .max_total_per_patient {
  text-align: right;
}

#service_calendar .service_calendar .section_header th,
#service_calendar .service_calendar .sub_section_header th,
#service_calendar .service_calendar .totals_section td,
#service_calendar .service_calendar .line_item td {
  padding: 5px;
}

#service_calendar .service_calendar .table_header th.number_of_subjects_header {
  width: 43px;
  padding: 0;
}
#service_calendar .service_calendar .line_item td.subject_count {
  padding: 5px 0;
}

.service_calendar .odd {
  background: #E8E8E8;
}

.service_calendar .table_header .services,
.service_calendar .table_header .your_cost,
.service_calendar .table_header .subjects,
.service_calendar .table_header .visits_header,
.service_calendar .table_header .visit_number,
.service_calendar .table_header .total {
  text-align: center;
}

#service_calendar .service_calendar .your_cost,
#service_calendar .service_calendar .service_rate,
#service_calendar .service_calendar .otf_total,
#service_calendar .service_calendar .otf_total_direct_cost {
  text-align: right;
}

.service_calendar .table_header th span.visit_count {
  display: inline-table;
  width: 250px;
}

.service_calendar .line_item_visit_billing {
  width: 15px;
}

.service_calendar .billing_type_list {
  padding: 5px;
}

.service_calendar .billing_type {
  display: inline-table;
  text-align: center;
  width: 18px;
}

.fulfillment_selecter {
  width: 200px;
}

.fulfillment_your_cost {
  width: 43px;
}
