.calendar-row {
  border: 1px solid #DDDDDD;
  margin-top: 10px;
  margin-bottom: 10px;

  .visit-name {
    word-wrap: break-word;
  }
}

.border-top {
  border-top: 1px solid black;
}

.section_header {
  background-color: #adadad !important;
}

.sub_section_header {
  background-color: #ccc !important;
}
