.cwf_one_time_fee_service
  table
    border-collapse:collapse
    width: 100%
    td, th
      padding: 5px
    tr.bottom
      height: 20px
    tr
      height: 40px
      th.top
        border: 1px solid #ccc
        font-size: 1.2em
      th.bottom
        vertical-align: bottom 
      td
        padding: 3px
        text-align: center
        &.otf_service_select
          select
            width: 225px !important
        &.cwf_otf_text_field
          input
            width: 25px !important
            text-align: right

.cwf_otf_service
  width: 250px
  font-size: 1em

.remove_nested_fields.cwf_fulfillments
  display: block
  height: 16px
  width: 16px
  text-indent: -1000em
  overflow: hidden
  margin: 0 auto
  background: url(delete.png) no-repeat left top

.add_nested_fields.cwf_fulfillments
  background: url(add.png) no-repeat left center
  padding-left: 17px
  color: #3d8834

  &:hover 
    text-decoration: underline

.service_tr td
  background-color: #CCC
  font-weight: bold
  font-size: 1.1em

.cwf_one_time_fee_service table tr.fulfillment_fields
  height: 23px
  th
    padding: 0px

tr.fields td
  background-color: #EEE