/* Copyright © 2011 MUSC Foundation for Research Development*/
/* All rights reserved.*/

/* Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*/

/* 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*/

/* 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following*/
/* disclaimer in the documentation and/or other materials provided with the distribution.*/

/* 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products*/
/* derived from this software without specific prior written permission.*/

/* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,*/
/* BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT*/
/* SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL*/
/* DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS*/
/* INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR*/
/* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*/

 // * These are the catalog selector colors
 // * Light Blue: #8AB6CB
 // * Light Green: #7EAE8D
 // * Light Orange: #CAA27B

 // * Navy: #003366
 // * Light Blue: #227BA5
 // * Orange: #E09462
 // * Red: #ff3333
 // * Green: #2C9B4D

*
  margin: 0
  padding: 0

#container 
  #header
    height: 102px
    display: table
    margin: 0 auto

    #org-logo, #sparc-request-header, #institution-logo
      float: left

      img
        width: 100%

    #org-logo
      width: 293px
      margin-top: 20px

    #sparc-request-header
      width: 585px
      text-align: center
      margin-top: 27x
      a
        font-weight: bold
        font-size: 22px
        font-family: "Times New Roman"
        text-decoration: none
        color: white

    #institution-logo
      width: 291px
      margin-top: 10px
      text-align: right


