/* Copyright © 2011 MUSC Foundation for Research Development*/
/* All rights reserved.*/

/* Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*/

/* 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*/

/* 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following*/
/* disclaimer in the documentation and/or other materials provided with the distribution.*/

/* 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products*/
/* derived from this software without specific prior written permission.*/

/* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,*/
/* BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT*/
/* SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL*/
/* DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS*/
/* INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR*/
/* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*/
.catalog-right,
.protocol-right,
.service-details-right,
.documents-right
  .panel
    margin-bottom: 0px

    .cart
      min-height: 200px

      .line-item
        display: inline-flex
        width: 100%
        div
          padding: 0px
          margin: auto
        @media ( max-width: 768px )
          .col-sm-10
            width: 83.3333%
          .vol-dm-2
            width: 16.6666%

      .line-item:not(:last-child)
        padding-bottom: 5px
        border-bottom: 1px solid #EEE
        margin-bottom: 5px

  .nav-buttons
    a,
    div
      margin-top: 5px
      margin-bottom: 5px
