/* Copyright © 2011 MUSC Foundation for Research Development*/
/* All rights reserved.*/

/* Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*/

/* 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*/

/* 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following*/
/* disclaimer in the documentation and/or other materials provided with the distribution.*/

/* 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products*/
/* derived from this software without specific prior written permission.*/

/* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,*/
/* BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT*/
/* SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL*/
/* DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS*/
/* INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR*/
/* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*/

.service-catalog
  .provider-header
    background: #0078ae url("/assets/jquery-ui/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% !important
    border: 1px solid #77d5f7 !important
    + .provider 
      h4
        padding-left: 5%
        padding-right: 5%
        width: 100%
        line-height: 100%

      h4:nth-child(odd)
        a
          color: #003366

      h4:nth-child(even)
        background: #6495ED
        a
          color: white

  .blue-provider
    background: #003366 !important
    + .provider
      h4:nth-child(even)
        background: #6BB1FF
        a
          color: white

  .green-provider
    background: #2C9A4D !important
    + .provider
      h4:nth-child(even)
        background: #7EAE8D
        a
          color: white

  .light-blue-provider
    background: #0775B0 !important
    + .provider
      h4:nth-child(even)
        background: #6495ED
        a
          color: white

  .red-provider
    background: #C43149 !important
    + .provider
      h4:nth-child(even)
        background: #EC828F
        a
          color: white

  .orange-provider
    background: #F79739 !important
    + .provider
      h4:nth-child(even)
        background: #FFC125
        a
          color: white

.catalog-center
  #search,
  #welcome_message,
  #calendar-blog
    margin-bottom: 20px

  #welcome-message
    .panel
      text-align: center

  #calendar-blog
    border-top: 1px solid #eee

    .panel
      padding-left: 0
      padding-right: 0

      .blog-link:not(:last-child),
      .calendar-event:not(:last-child)
        padding-bottom: 5px
        margin-bottom: 5px
        border-bottom: 1px solid #eee

.catalog-right
  .panel
    margin-bottom: 0px

    .cart
      min-height: 200px
  .nav-buttons
    a,
    div
      margin-top: 5px
      margin-bottom: 5px

