/* Copyright © 2011 MUSC Foundation for Research Development*/
/* All rights reserved.*/

/* Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*/

/* 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*/

/* 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following*/
/* disclaimer in the documentation and/or other materials provided with the distribution.*/

/* 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products*/
/* derived from this software without specific prior written permission.*/

/* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,*/
/* BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT*/
/* SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL*/
/* DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS*/
/* INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR*/
/* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*/
@import 'proper/colors'

/* RELATED TO THE INSTITUTION ACCORDION */
#institution-accordion
  .btn
    white-space: normal

.ui-accordion-header
  background: #0078ae url("/assets/jquery-ui/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50% !important
  border: 0px !important

.ui-accordion-header.ui-state-hover,
.ui-accordion-header.ui-state-focus
  color: white !important

.provider-header
  background: #0775B0 !important
  + .provider 
    h4
      padding-left: 5%
      padding-right: 5%
      width: 100%
      line-height: 100%
.provider-header:hover
  background: #0065A0 !important

.blue-provider
  background: $sparc-blue !important
.blue-provider.btn:hover
  background: $sparc-blue-hover !important

.green-provider
  background: $sparc-green !important
.green-provider.btn:hover
  background : $sparc-green-hover !important

.light-blue-provider
  background: $sparc-light-blue !important
.light-blue-provider.btn:hover
  background: $sparc-light-blue-hover !important

.red-provider
  background: $sparc-red !important
.red-provider.btn:hover
  background: $sparc-red-hover !important

.orange-provider
  background: $sparc-orange !important
.orange-provider.btn:hover
  background: $sparc-orange-hover !important

.blue-provider,
.green-provider,
.light-blue-provider,
.red-provider,
.orange-provider
  h1
    color: white

.service-view
  .title
    display: inline-flex
    width: 100%
    div
      margin: auto
    .name
      text-align: left
      a
        color: #337AB7 !important

.service-view:not(:last-child)
  padding-bottom: 5px
  border-bottom: 1px solid #EEE
  margin-bottom: 5px

.program-services,
.core-accordion
  padding-top: 15px !important

.description
  font-size: 14px

.core-description
  padding-top: 15px
  padding-bottom: 10px

.service-description
  padding-top: 5px

/* RELATED TO THE CENTER CATALOG ELEMENTS */
.catalog-center
  padding-left: 0 !important
  padding-right: 0 !important

  #search
    margin-bottom: 20px

  #welcome-message
    border-bottom: 1px solid black
    margin-bottom: 10px
    .page-header
      margin-top: 0
    h3
      margin-top: 0

  #calendar-blog
    display: inline-block
    width: 100%
    @media( min-width: 768px )
      .news-container
        padding-left: 0
        padding-right: 8px

      .calendar-container
        padding-left: 8px
        padding-right: 0

    .col-sm-12
      padding-left: 0
      padding-right: 0

    .panel
      .blog-link:not(:last-child),
      .calendar-event:not(:last-child)
        padding-bottom: 5px
        margin-bottom: 5px
        border-bottom: 1px solid #eee


/* RELATED TO MODAL POPUPS */
.help-question
  text-decoration: underline
.help-answer
  display: inline-block
  font-style: italic

textarea
  resize: none
  border: 1px solid #DDD