// Copyright © 2011-2020 MUSC Foundation for Research Development~
// All rights reserved.~

// Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

// 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

// 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
// disclaimer in the documentation and/or other materials provided with the distribution.~

// 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
// derived from this software without specific prior written permission.~

// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
// BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
// SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
// TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

// See https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap.css

.d-flex
  display: -ms-flexbox !important
  display: flex !important

.align-items-start
  -ms-flex-align: start !important
  align-items: flex-start !important

.align-items-end
  -ms-flex-align: end !important
  align-items: flex-end !important

.align-items-center
  -ms-flex-align: center !important
  align-items: center !important

.align-items-baseline
  -ms-flex-align: baseline !important
  align-items: flex-baseline !important

.align-items-stretch
  -ms-flex-align: stretch !important
  align-items: flex-stretch !important

.justify-content-start
  -ms-flex-pack: start !important
  justify-content: flex-start !important

.justify-content-end
  -ms-flex-pack: end !important
  justify-content: flex-end !important

.justify-content-center
  -ms-flex-pack: center !important
  justify-content: center !important

.justify-content-between
  -ms-flex-pack: justify !important
  justify-content: space-between !important

.justify-content-around
  -ms-flex-pack: distribute !important
  justify-content: space-around !important

.flex-row
  -ms-flex-direction: row !important
  flex-direction: row !important

.flex-column
  -ms-flex-direction: column !important
  flex-direction: column !important

.flex-wrap
  -ms-flex-wrap: wrap !important
  flex-wrap: wrap !important
