/* Button Hover Effects */

.button-hover:hover {
  opacity: 1;
  -webkit-animation: flash 1.0s;
  animation: flash 1.0s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}


.navbar > li > a:hover{
    background-color:#0078AE;
}

.right-section > .user-login-section > li > a:hover{
    background-color:#0078AE;
}

#welcome_message .section a:hover {
  color: #0078AE;
}

#calendar-blog .title a:hover {
  color: #0078AE;
}










