.test_search {
  float: left;
  height: 43px;
  width: 460px;
  overflow: hidden;
  position: absolute;
  z-index: -1
}

input.search-services {
  height: 20px;
  width: 375px;
  margin-top: 6px;
}

img.steps_banner_ie {
  float: left;
  z-index: -1;
}

.test_table {
  float: left;
  position: absolute;
  margin-top: 10px;
}