header#siteHeader {
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#contentContainer {
  @extend .py-3;
  display: flex;
  flex-wrap: wrap;
}

a, .btn-link {
  outline: none !important;
  text-decoration: none !important;
  @include transition($btn-transition);
}
