$navbar-tab-color: #113967;

.navbar {
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.highlighted {
    background-color: #006bb3;
}
.align-element-nav-bar {
  padding: 8px 15px;
  float: right;
}

.user-login-section {
  float: right;
}

.dashboard {
  background-color: $navbar-tab-color;
  border-right: 1px solid #fff;
}

.admin {
  background-color: $navbar-tab-color;
  border-right: 1px solid #fff;
}

.fulfillment {
  background-color: $navbar-tab-color;
  border-right: 1px solid #fff;
}

.catalog {
  background-color: $navbar-tab-color;
  border-right: 1px solid #fff;
}

.reports {
  background-color: $navbar-tab-color;
}

.logout {
  background-color: $navbar-tab-color;
  border-right: none;
}
