$dashboard-tab-color: #2280A5;
$admin-tab-color: #4E99B7;
$fulfillment-tab-color: #7AB3C9;
$catalog-tab-color: #A7CCD8;
$reports-tab-color: #D3E6ED;

.navbar {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  border-right: 1px solid #ccc;
}

.align-element-nav-bar {
  padding: 8px 15px;
  float: right;
}

.right-section {
  float: right;
}

.dashboard {
  background-color: $dashboard-tab-color;
}

.admin {
  background-color: $admin-tab-color;
}

.fulfillment {
  background-color: $fulfillment-tab-color;
}

.catalog {
  background-color: $catalog-tab-color;
}

.reports {
  background-color: $reports-tab-color;
}

.logout {
  color: #069 !important;
}