/*Some Stuff*/
table.study_tracker_table {
  width: 925px;
}

.study_tracker_table thead.left_headers th {
  text-align:left;
}

.study_tracker_table th {
  padding:6px 8px;
}

.arm_container {
  padding:10px 5px;
}

#visit_form tr.fields td,
#visit_form tr.grand_total_row td {
	padding:6px 8px;
}
#visit_form table.study_tracker_table {
  width:860px;
}
.spinner_wrapper {
  text-align:center;
  display:none;
}
#controls {
  margin: 15px 0px 15px 15px;
}
#controls * {
  font-size:1.2em;
}
#controls p {
  float:left;
  margin: 3px 10px 0 0;
  font-weight:bold;
}
td.highlighted {
  background-color:#FFEF8F;
}
td.text-center {
  text-align:center;
}
.comments {
  color:#362B36;
}
.comments .comment {
  background-color: #E0E0E0;
  margin: 10px 0;
  overflow: auto;
  padding: 10px;
}
.comments .comment .name {
  color:#2779AA;
}
.comments .new_comment textarea {
  height:100px;
  width:100%;
  margin-bottom:5px;
}

.procedure_r_qty, .procedure_t_qty {
  text-align: right;
}
.add_service {
  margin:15px 0px;
}
.add_service select {
  float:left;
  margin-right:5px;
}
.add_service div {
  display:none;
}
.appointment_wrapper .ui-widget-header th.hidden_by_tabs {
  display:none;
}