/* Copyright © 2011-2016 MUSC Foundation for Research Development*/
/* All rights reserved.*/

/* Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*/

/* 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*/

/* 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following*/
/* disclaimer in the documentation and/or other materials provided with the distribution.*/

/* 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products*/
/* derived from this software without specific prior written permission.*/

/* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,*/
/* BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT*/
/* SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL*/
/* DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS*/
/* INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR*/
/* TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*/

/*Some Stuff*/
table.study_tracker_table {
  width: 905px;
}

.study_tracker_table thead.left_headers th {
  text-align:left;
}

.study_tracker_table th {
  padding:6px 8px;
  background-color:#0775B0;
  color:white;
}

.arm_container {
  padding:15px 0px;
}

#subject_tracker #subjects {
  padding: 10px;
}

#visit_form tr.fields td,
#visit_form tr.grand_total_row td {
	padding:6px 8px;
}

#visit_form table.study_tracker_table {
  margin-left: -2px;
  width: 909px;
}

#controls {
  margin: 15px 0px 15px 15px;
}

#controls * {
  font-size:1.2em;
}

#controls p {
  float:left;
  margin: 3px 10px 0 0;
  font-weight:bold;
}

#controls select {
  border: 1px solid black;
  padding: 3px 3px 0px;
}

td.highlighted {
  background-color:#FFEF8F !important;
}

td.text-center {
  text-align:center;
}

.comments {
  color:#362B36;
  margin-top: 30px;
}

.comments .comment {
  background-color: #E8E8E8;
  margin: 10px 0;
  overflow: auto;
  padding: 10px;
}

.comments .comment .name {
  color:#2779AA;
}

.comments .new_comment textarea {
  height:100px;
  width:100%;
  margin-bottom:5px;
}

.procedure_r_qty, .procedure_t_qty {
  text-align: right;
}

.add_service {
  margin:15px 0px;
}

.add_service select {
  float:left;
  margin-right: 5px;
  border: 1px solid black;
  padding: 7px;
  width: 550px;
}
.add_service button.cwf_add_service_button {
  background: url("portal/yellowbutton_blank.png") no-repeat;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  height: 35px;
  width: 230px;
}

.add_comment_link,
#bottom_return_link {
  background: url("portal/yellowbutton_smaller.png") no-repeat;
  color: white !important;
  display: block;
  height: 27px;
  padding: 8px 0 0;
  text-align: center;
  width: 149px;
}
#save_appointments {
  background: url("portal/yellowbutton_smaller.png") no-repeat;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  height: 35px;
  width: 149px;
  margin: 0 auto;
}
a#bottom_return_link {
  background: url("portal/yellowbutton_blank.png") no-repeat;
  font-size: 1.1em;
  width: 230px;
  margin: 20px auto 0;
}

#audit_form {
  padding: 10px;
}
#audit_form table thead tr {
  background-color: #0775B0;
  color: white;
}
#audit_form table thead tr th {
  width: 450px;
  padding: 7px 0px;
}
#audit_form table tbody td {
  background-color: #E8E8E8;
  text-align: center;
}
#audit_form .org {
  padding: 5px;
}
#audit_form .org label {
  width: 200px;
  text-align: left;
  display: inline-block;
}
#audit_form .field {
  padding: 5px;
}
#audit_form .field label {
  display: inline-block;
  width: 80px;
}
#audit_form #audit_submit_button {
  background: url("portal/yellowbutton_smaller.png") no-repeat;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  height: 35px;
  margin: 10px auto;
  width: 149px;
}

.appointment_wrapper .ui-widget-header .hidden_by_tabs {
  display:none;
}

.dashboard_link {
  background-color: #3E9F5A;
  border-radius: 5px;
  color: white;
  font-size:1.6em;
  margin: 15px auto 0px;
  padding: 2px;
  text-align:center;
  width:900px;
}

#subject_tracker_add {
  background: url("portal/yellowbutton_smaller.png") no-repeat;
  color: #FFFFFF;
  display: block;
  height: 27px;
  margin: 10px auto;
  padding: 8px 0 0;
  text-align: center;
  width: 149px;
}

#subject_tracker_save {
  background: url("portal/yellowbutton_smaller.png") no-repeat;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  height: 35px;
  width: 149px;
}

#patient_visit_calendar #dashboard_container {
  position:relative;
}

#patient_visit_calendar div#dashboard {
  width: 882px;
  padding: 5px;
  position: absolute;
  background-color: white;
  z-index: 10;
  left: 16px;
}

#dashboard td {
  padding: 6px 8px;
  background-color: #E8E8E8;
}

#research_project_summary_report_date_range {
  display: none;
}

div.ui-dialog.processing_request {
  background: none;
  border: 0px;
}
div.ui-dialog.processing_request div.ui-dialog-titlebar {
  display: none;
}
