#arm-form{:style => 'display: none', :title => 'Create a new ARM'}
  .label ARM Name:
  = text_field_tag 'arm_name', "ARM Name"
  %br
  %br
  .label Subject Count:
  = text_field_tag 'subject_count', 1
  %br
  %br
  .label Visit Count:
  = text_field_tag 'visit_count', 1