.tabs
  %ul
    %li= link_to t(:admin_dashboard)[:tabs][:subject_tracker], "#subject_tracker", :class => "subject_tracker-tab"
    %li= link_to t(:admin_dashboard)[:tabs][:payments], "#payments", :class => "payments-tab"
    %li= link_to t(:admin_dashboard)[:tabs][:invoices], "#invoices", :class => "invoices-tab"
    %li= link_to t(:admin_dashboard)[:tabs][:template], "#template", :class => "template-tab"