#service_request_cost
  #current_cost
    %label= t(:fulfillments)[:totals][:effective_current_total_cost]
    %span.effective_cost= number_to_currency(calculate_effective_current_total)

  #user_display_cost
    %label= t(:fulfillments)[:totals][:user_display_total_cost]
    %span.display_cost= number_to_currency(calculate_user_display_total)
  .clear
