#service_request_cost
  %table
    %thead
      %tr
        %th= t(:fulfillments)[:totals][:effective_current_total_cost]
        %th= t(:fulfillments)[:totals][:user_display_total_cost]
    %tbody
      %tr
        %td.effective_cost= number_to_currency(calculate_effective_current_total)
        %td.display_cost= number_to_currency(calculate_user_display_total)
