-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.panel-group#admin_accordion{ role: "tablist", aria: { multiselectable: "true" } }

  .panel.panel-primary
    .panel-heading#sr_accordion_heading{ data: {toggle: "collapse", target: "#sr_accordion"}, aria: {expanded: "false", controls: "sr_accordion"} }
      %h3.panel-title Service Request Info
    #sr_accordion.panel-collapse.collapse.in{role: "tabpanel", aria: {labelledby: "sr_accordion_heading"}}
      .panel-body
        = render partial: 'portal/admin/fulfillment/service_request_info/service_request_info', locals: {protocol: protocol, sub_service_request: sub_service_request, service_request: service_request, subsidy: subsidy}

  .panel.panel-primary
    .panel-heading#users_accordion_heading.collapsed{ data: {toggle: "collapse", target: "#users_accordion"}, aria: {expanded: "false", controls: "users_accordion"} }
      %h3.panel-title User Notifications
    #users_accordion.panel-collapse.collapse{role: "tabpanel", aria: {labelledby: "users_accordion_heading"}}
      .panel-body
        = render partial: 'portal/admin/fulfillment/user_notifications/user_notifications', locals: {protocol: protocol, sub_service_request: sub_service_request, service_request: service_request}

  .panel.panel-primary
    .panel-heading#history_accordion_heading.collapsed{ data: {toggle: "collapse", target: "#history_accordion"}, aria: {expanded: "false", controls: "history_accordion"} }
      %h3.panel-title History
    #history_accordion.panel-collapse.collapse{role: "tabpanel", aria: {labelledby: "history_accordion_heading"}}
      .panel-body
        = render partial: 'portal/admin/fulfillment/history/history', locals: {protocol: protocol, sub_service_request: sub_service_request, service_request: service_request}

  .panel.panel-primary
    .panel-heading#services_accordion_heading.collapsed{ data: {toggle: "collapse", target: "#services_accordion"}, aria: {expanded: "false", controls: "services_accordion"} }
      %h3.panel-title Services
    #services_accordion.panel-collapse.collapse{role: "tabpanel", aria: {labelledby: "services_accordion_heading"}}
      .panel-body
        = render partial: 'portal/admin/fulfillment/services/services', locals: {protocol: protocol, sub_service_request: sub_service_request, service_request: service_request}

#visit_toasts
  - @user_toasts.each do |user_toast|
    .user_toast{:'data-toast_id' => user_toast.id, :'data-message' => user_toast.message}