= select_tag select_id, options_for_select(per_patient_line_items(line_items)), :'data-sub_service_request_id' => @sub_service_request.id
%button#remove_service{:'data-sub_service_request_id' => @sub_service_request.id, :'data-select_id' => select_id}= @study_tracker ? t(:fulfillments)[:cwf_remove_service_button] : t(:fulfillments)[:remove_service_button]
