#visit-form{:style => 'display: none', :title => 'Add a new visit'}
  .label Visit Name:
  = text_field_tag 'visit_name', "Visit Name"
  %br
  %br
  .label Day:
  = text_field_tag 'visit_day'
  %br
  %br
  .label +/-
  = text_field_tag 'visit_window', 0