.row
  .col-sm-12.text-center
    %h4
      Uh, oh.  You've hit a
.row  
  .col-sm-12.text-center
    %h4{:style => "font-size:6rem;color:#C43149"}Page Not Found (404)
.row
  .col-sm-12.text-center
    %h4
      For help, contact us:
.row  
  .col-sm-6.text-center
    %h4
      %a{:href => 'mailto:success@musc.edu' } Email: success@musc.edu
  .col-sm-6.text-center
    %h4
      %a{:href => 'tel:843-792-8300'} Call: 843-792-8300
 