.bootstrap-table-dropdown-overflow
  #sla-custom-toolbar
    %button.btn.btn-success.otf_service_new{type: "button", aria: {label: "Add Line Item"}} Add Study Level Activity
  %table.study_level_activities{id: "study-level-activities-table", data: {toggle: 'table', search: "true", "show-columns" => "true", "show-refresh" => "true", "show-toggle" => "true", url: portal_admin_line_items_path(format: :json, protocol_id: protocol.id), striped: "true", toolbar: "#sla-custom-toolbar", "show-export" => "true", "export-types" => ['excel']}}
    %thead.primary-header
      %tr
        %th{data: {class: 'fulfillments_button', align: "left", field: "fulfillments_button"}}
        %th{data: {class: 'service', align: "left", field: "service"}}
          Service
        %th{data: {class: 'act_num wrap', align: "left", sortable: "true", field: "account_number"}}
          Code
        %th{data: {class: 'contact wrap', align: "left", sortable: "true", field: "contact", visible: "false"}}
          Units / Quantity
        %th{data: {class: 'qty_type', align: "left", field: "quantity_type", visible: "false"}}
          Unit Type
        %th{data: {class: 'qty_req', align: "left", sortable: "true", field: "quantity_requested"}}
          Qty Requested
        %th{data: {class: 'qty_rem', align: "left", sortable: "true", field: "quantity_remaining"}}
          Qty Type
        %th{data: {class: 'started', align: "left", sortable: "true", sorter: "dateSorter", field: "date_started"}}
          Cost
        %th{data: {class: 'components', align: "center", field: "service_components", visible: "false"}}
          Received
        %th{data: {class: 'last_fulfillment', align: "left", sortable: "true", field: "last_fulfillment"}}
          Started
        %th{data: {class: 'last_fulfillment', align: "left", sortable: "true", field: "last_fulfillment"}}
          Complete
        %th{data: {class: 'options', align: "center", field: "options"}}
          Actions