- if @admin_portal and @render_billing_report
  = link_to t(:study_tracker)[:billing_report][:title], portal_root_path, :class => "home_link"
- elsif @notification_index
  = link_to raw(t(:admin_dashboard)[:notifications_title]), portal_root_path, :class => "home_link"
- elsif @edit_protocol
  = link_to raw(t(:admin_dashboard)[:edit_protocol_title]), portal_root_path, :class => "home_link"
- else
  = link_to raw(t(:admin_dashboard)[:title]), portal_root_path, :class => "home_link"
