.modal.fade{:id=>"additionalDetailModal", :role=>"dialog", :tabindex=>"-1", "aria-labelledby"=>"myModalLabel"}
  .modal-dialog.modal-lg{:role=>"document"}
    .modal-content
      .modal-header
        %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
          %span{"aria-hidden"=>"true"} &times;
        %h4.modal-title {{currentLineItemAD.additional_detail_breadcrumb}}
      .modal-body
        = render :partial => 'additional_detail/shared/additional_detail_form_panel' 
      .modal-footer
        %a.btn.btn-default{"data-dismiss"=>"modal"}= t(:additional_details)[:service_requests][:cancel_button]
        %button.btn.btn-success{"data-dismiss"=>"modal", "ng-click"=> "saveFormResponse()"}= t(:additional_details)[:service_requests][:save_button]