= javascript_include_tag 'reporting'
#reporting_tabs
  %ul
    %li= link_to 'Defined Reports', '#defined_reports'
    %li= link_to 'Custom Report', '#custom_report'

  #defined_reports
    

  #custom_report
